 <div >
  
    <span class="col-sm-4 pull-right">
     <%= link_to 'Add Ecr', add_ecr_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_ecr_modal'} %>
     <%= link_to 'Add Project', add_project_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_project_modal'} %>
   <%= link_to 'Add IA', add_ia_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_ia_modal'} %>
   </span>

 </div>
<div class='clearfix'></div> 
<div class='data-main'>

  <div class="project-data project-formset collapsed" id="projectform">
   <a href="#" class="collapsed-icon" title="Search form show/hide" onclick="messageform(); return false;"></a>
    <div style="overflow:hidden;">
      <div class="project-form">
          <div class="project-fields">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                  Like (wildcard)
                </div>
                <div class="col-lg-5">
                  Exact
                </div>
              </div>
          </div>
          <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  BU:
                </div>
                  <div class="col-lg-5">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-5">
                    <input type="text" class="form-control">
                  </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  Project:
                </div>
                  <div class="col-lg-10">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  IA:
                </div>
                  <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  ECR:
                </div>
                  <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                </div>
                  <div class="col-lg-5">
                      <input type="sibmit" value="Search" class="btn save-print-update-edit-btn">
                    </div>
                    <div class="col-lg-5">
                      <input type="reset" value="Clear" class="btn btn-danger">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-btmcnt">
          <div><%= link_to "#" do %>
              <%= image_tag("cross-btn.png") %>
             <% end %> Show only incomplete</div>
            <div><a href="#">Show All</a></div>
            <div class="project-data-list">
              <ul class="ia-list">
                  <li>IA-0012139</li>
                    <li>ECR-0034871</li>
                    <li>ECR-0034874</li>
                    <li>ECR-0034885</li>
                </ul>
                <ul class="ia-list">
                  <li>IA-0000213</li>
                    <li>ECR-0001223</li>
                    <li>ECR-0034874</li>
                </ul>
            </div>
        </div>
    </div>
  </div>

  <div class="project-data project_ia collapsed" id="project_ia">
   <a href="#" class="collapsed-icon" title="Detail" onclick="messagebox(); return false;"></a>
    <div style="overflow:hidden;">
      <table class="table table-bordered">
        <thead>
          <tr class="main_heading">
            <th style="width: 95px;"> </th>
            <th style="width: 98px;"> </th>
            <th class="collapse_table_data collapse_table" > </th>
            <th class="collapse_table_data collapse_table"> </th>
            <th class="collapse_table_data collapse_table"> </th>
            <th class="collapse_table_data collapse_table"> </th>
            <th class="collapse_table_data collapse_table"> </th>
          </tr>
          <tr class="sub_heading">
            <th>IA</th>
            <th>ECR</th>
            <th class="collapse_table_data collapse_table">Status</th>
            <th class="collapse_table_data collapse_table">BU</th>
            <th class="collapse_table_data collapse_table">Comp</th>
            <th class="collapse_table_data collapse_table">Lang</th>
            <th class="collapse_table_data collapse_table no-brd">Comp Type</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
              <%= link_to 'IA-0000213', open_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
              <td></td>
              <td class="collapse_table_data collapse_table">Active</td>
              <td class="collapse_table_data collapse_table">THV</td>
              <td class="collapse_table_data collapse_table"></td>
              <td class="collapse_table_data collapse_table"></td>
              <td class="collapse_table_data collapse_table"></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= link_to 'ECR-0001223', open_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
              <td class="collapse_table_data collapse_table">Active</td>
              <td class="collapse_table_data collapse_table">HVT/MISC/EPC</td>
              <td class="collapse_table_data collapse_table">50</td>
              <td class="collapse_table_data collapse_table">10</td>
              <td class="collapse_table_data collapse_table no-brd">Multi-Lingual IFUs</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= link_to 'ECR-0034874', open_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
              <td class="collapse_table_data collapse_table">OnHold</td>
              <td class="collapse_table_data collapse_table"></td>
              <td class="collapse_table_data collapse_table">50</td>
              <td class="collapse_table_data collapse_table">10</td>
              <td  class="collapse_table_data collapse_table no-brd">CGL</td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>

<div class="approval-data tspend_initial" id="detail_data">
 <a href="#" class="minus-icon"></a>
  <table class="table table-bordered">
    <thead>
      <tr class="main_heading">
        <th style="width: 95px;">IA Approval</th>
        <th colspan="3" style="text-align:center">Translation</th>
        <th colspan="2" style="text-align:center">ECR</th>
        <th colspan="4" style="text-align:center">Collaboration</th>
        <th></th>
      </tr>
      <tr class="sub_heading">
        <th>IA Approved</th>
        <th>Inbox</th>
        <th>Sent</th>
        <th>Received</th>
        <th>Inbox  </th>
        <th>Complete  </th>
        <th>Sent to Collab.  </th>
        <th>Back from Coll.  </th>
        <th>Sent to Legal  </th>
        <th>Back from Legal </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% project.ias.each do |ia| %>
          <% ia_approved = ia.inbox_date %>
          <% ia.ecrs.each do |ecr| %>
            <tr>
              <td>
                <%= link_to ia_approved, open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td>5/19/2016  10:18 PM</td>
              <td>5/19/2016  10:18 PM</td>
              <td>5/19/2016  10:18 PM</td>
              <td>
                <%= link_to ecr.created_at.strftime("%m/%d/%Y %I:%M %p"), open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td>
                <%= link_to ecr.created_at.strftime("%m/%d/%Y %I:%M %p"), open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td>
                <%= link_to '5/19/2016  1:18 PM', open_modal3_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup3'} %>
                </td>
              <td>
                <%= link_to '5/19/2016  1:18 PM', open_modal3_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup3'} %>
              </td>
              <td>5/19/2016  10:18 PM</td>
              <td>5/19/2016  10:18 PM</td>
              <td>5/19/2016  10:18 PM</td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
 </div> 
</div>

<style>
  .rework {
    width: 700px;
  }
.container {
    /*width: 1560px;*/
    background-color: #fff;
}
.navbar-default{
   background-color: #fff;
}
</style>
