<div class='data-main'>
  <div class="project-data collapsed" id="projectbox">
  <a href="#" class="collapsed-icon"onclick="messagebox(); return false;"></a>
  <div style="overflow:hidden;">
    <table class="table table-bordered">
        <tr class="main_heading" style="height: 27px;">
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th> </th>
        </tr>
        <tr class="sub_heading">
          <th>IA</th>
          <th>ECR</th>
          <th>Status</th>
          <th>BU</th>
          <th>Comp</th>
          <th>Lang</th>
          <th class="no-brd">Comp Type</th>
        </tr>
        <tr>
          <td>IA-0000213</td>
          <td></td>
          <td>Active</td>
          <td>THV</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to 'ECR-0001223', open_modal_path(popup: 'add_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
          <td>Active</td>
          <td></td>
          <td>50</td>
          <td>10</td>
          <td class="no-brd">Multi-Lingual IFUs</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to 'ECR-0034874', open_modal_path(popup: 'add_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
          <td>OnHold</td>
          <td></td>
          <td>50</td>
          <td>10</td>
          <td class="no-brd">CGL</td>
        </tr>
      </table>
  </div>
</div>

<div class="approval-data tspend" id="ghzanfer">
<a href="#" class="minus-icon"></a>
  <table class="table table-bordered">
    <thead>
      <tr class="main_heading">
        <th>IA Approval</th>
        <th colspan="3" style="text-align:center">Translation</th>
        <th colspan="2" style="text-align:center">ECR</th>
        <th colspan="4" style="text-align:center">Collaboration</th>
      </tr>
      <tr class="sub_heading">
        <th>IA Approved</th>
        <th>Inbox</th>
        <th>Sent</th>
        <th>Received</th>
        <th>Inbox  </th>
        <th>Complete  </th>
        <th>Sent to Collab.  </th>
        <th>Back from Coll.  </th>
        <th>Sent to Legal  </th>
        <th>Back from Legal </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% project.ias.each do |ia| %>
          <% ia_approved = ia.inbox_date %>
          <% ia.ecrs.each do |ecr| %>
            <tr>
              <td>
                <%= link_to ia_approved, open_modal_path(popup: 'rework'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= link_to ecr.created_at.strftime("%Y-%m-%d %I:%M %p"), open_modal_path(popup: 'rework'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
              </td>
              <td>
                <%= link_to ecr.created_at.strftime("%Y-%m-%d %I:%M %p"), open_modal_path(popup: 'rework'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
              </td>
              <td>
                <%= link_to '5/19/2016  1:18:00 PM', open_modal_path(popup: 'collad'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                </td>
              <td>
                <%= link_to '5/19/2016  1:18:00 PM', open_modal_path(popup: 'collad'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
              </td>
              <td>MM/DD hh:mm</td>
              <td>MM/DD hh:mm</td>
              <td>MM/DD hh:mm</td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
 </div> 
</div>


<style>
  .rework {
    width: 700px;
  }

</style>

<script type="text/javascript">

function messagebox()
{
     var className = $('.project-data').attr('class');
   console.log(className);
      if (className=='project-data collapsed'){
     $('#projectbox').removeClass('collapsed');
     $('#ghzanfer').removeClass('tspend');
    }else{  
     $('#projectbox').addClass('collapsed');
     $('#ghzanfer').addClass('tspend');   
    }
    
   
}
</script>
