<div class='data-main'>

  <div class="project-data project-formset collapsed" id="projectform">
  <a href="#" class="collapsed-icon" title="Search form show/hide" onclick="messageform(); return false;"></a>
    <div style="overflow:hidden;">
      <div class="project-form">
          <div class="project-fields">
              <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-5">
                  Like (wildcard)
                </div>
                <div class="col-lg-5">
                  Exact
                </div>
              </div>
          </div>
          <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  BU:
                </div>
                  <div class="col-lg-5">
                    <input type="text" class="form-control">
                  </div>
                  <div class="col-lg-5">
                    <input type="text" class="form-control">
                  </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  Project:
                </div>
                  <div class="col-lg-10">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  IA:
                </div>
                  <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                  ECR:
                </div>
                  <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-lg-5">
                      <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="project-fields">
              <div class="row">
                <div class="col-lg-2">
                </div>
                  <div class="col-lg-5">
                      <input type="sibmit" value="Search" class="btn save-print-update-edit-btn">
                    </div>
                    <div class="col-lg-5">
                      <input type="reset" value="Clear" class="btn btn-danger">
                    </div>
                </div>
            </div>
        </div>
        <div class="project-btmcnt">
          <div><%= link_to "#" do %>
              <%= image_tag("cross-btn.png") %>
             <% end %> Show only incomplete</div>
            <div><a href="#">Show All</a></div>
            <div class="project-data-list">
              <ul class="ia-list">
                  <li>IA-0012139</li>
                    <li>ECR-0034871</li>
                    <li>ECR-0034874</li>
                    <li>ECR-0034885</li>
                </ul>
                <ul class="ia-list">
                  <li>IA-0000213</li>
                    <li>ECR-0001223</li>
                    <li>ECR-0034874</li>
                </ul>
            </div>
        </div>
    </div>
</div>

  <div class="project-data projectcall collapsed" id="projectbox">
  <a href="#" class="collapsed-icon" title="Detail" onclick="messagebox(); return false;"></a>
    <div style="overflow:hidden;">
      <table class="table table-bordered">
          <tr class="main_heading" style="height: 27px;">
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
          </tr>
          <tr class="sub_heading">
            <th>IA</th>
            <th>ECR</th>
            <th>Status</th>
            <th>BU</th>
            <th>Comp</th>
            <th>Lang</th>
            <th class="no-brd">Comp Type</th>
          </tr>
          <tr>
            <td>IA-0000213</td>
            <td></td>
            <td>Active</td>
            <td>THV</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to 'ECR-0001223', open_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
            <td>Active</td>
            <td></td>
            <td>50</td>
            <td>10</td>
            <td class="no-brd">Multi-Lingual IFUs</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to 'ECR-0034874', open_modal_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
            <td>OnHold</td>
            <td></td>
            <td>50</td>
            <td>10</td>
            <td class="no-brd">CGL</td>
          </tr>
        </table>
    </div>
</div>

<div class="approval-data tspend" id="ghzanfer">
<a href="#" class="minus-icon"></a>
  <table class="table table-bordered">
    <thead>
      <tr class="main_heading">
        <th>IA Approval</th>
        <th colspan="3" style="text-align:center">Translation</th>
        <th colspan="2" style="text-align:center">ECR</th>
        <th colspan="4" style="text-align:center">Collaboration</th>
      </tr>
      <tr class="sub_heading">
        <th>IA Approved</th>
        <th>Inbox</th>
        <th>Sent</th>
        <th>Received</th>
        <th>Inbox  </th>
        <th>Complete  </th>
        <th>Sent to Collab.  </th>
        <th>Back from Coll.  </th>
        <th>Sent to Legal  </th>
        <th>Back from Legal </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% project.ias.each do |ia| %>
          <% ia_approved = ia.inbox_date %>
          <% ia.ecrs.each do |ecr| %>
            <tr>
              <td>
                <%= link_to ia_approved, open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= link_to ecr.created_at.strftime("%Y-%m-%d %I:%M %p"), open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td>
                <%= link_to ecr.created_at.strftime("%Y-%m-%d %I:%M %p"), open_modal2_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup2'} %>
              </td>
              <td>
                <%= link_to '5/19/2016  1:18:00 PM', open_modal3_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup3'} %>
                </td>
              <td>
                <%= link_to '5/19/2016  1:18:00 PM', open_modal3_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup3'} %>
              </td>
              <td>MM/DD hh:mm</td>
              <td>MM/DD hh:mm</td>
              <td>MM/DD hh:mm</td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
 </div> 
</div>

<style>
  .rework {
    width: 700px;
  }
.container {
    width: 1560px;
    background-color: #fff;
}
.navbar-default{
   background-color: #fff;
}
</style>
