<div class='modal-dialog'>
	<div class='modal-content'>
		<%= simple_form_for @l1 , remote: true , :html => { :id => "add_l1_form"} do |f| %>
		<%= f.error_notification %>
			<div class='modal-header  ui-draggable-handle'>
			 <button type='button' class='close' data-dismiss='modal'>×</button>
				  <h1 class='h1-heading-popup'><%= @action %> <%= @workflow.L1 %></h1>
			 </div>
		 	<div class='modal-body' id="add_l1_modal_body">

			 	<div class="form-inputs"> 
			  		<%= f.hidden_field :user_id, :value=> current_user.id %>
			  		<%= f.hidden_field :work_flow_id , :value=> @workflow.id %>
			  		<div class="row">
				        <div class="col-lg-4">
			               <label for= "workflow_dropdown" class="pull-right echo_patinet form-group"> Workflow: </label>
				        </div>
			            <div class="col-lg-6 " id="workflow_dropdown">
				            <span class="pull-left"> 
								<%= @workflow.name %>
				            </span>
			             </div>
				    </div>

				    <div class="row">
				        <div class="col-lg-4">
			               <label for= "l1_name" class="pull-right echo_patinet form-group"> Name:  </label>

				        </div>
			            <div class="col-lg-6">
			             	 <%= f.input :name,:label => false %>
			            </div>
				         <script type="text/javascript">
	                         setTimeout(function(){
	                            console.log('l1-modal');
	                            $('#l1_name').focus();
	                          }, 300);
	                     </script>
				    </div>

				    <div class="row">
			            <div class="col-lg-4">
			               <label for="l1_description" class="pull-right echo_patinet form-group"> Description:  </label>
		      	        </div>
			            <div class="col-lg-6">
			             	 <%= f.input :description,:label => false  %>
			            </div>
				    </div>

					<div class="row">
				        <div class="col-lg-4">
			               <label for="Active" class="pull-right echo_patinet form-group"> Active:  </label> 
				        </div>
			            <div class="col-lg-6">
				            <%= f.check_box :is_active, :label => false  , :class => "pull-left boolean" ,:checked => true%>
			            </div>
				    </div>
				    <% if @attr_list.present? %>
	                  <% attr_field_value = ''
	                  @attr_list.each do |att|
	                  	if @attr_values.present? 
	                  		attr_value_object = @attr_values.find{|attr_value| attr_value.label_attribute_id == att.id }
	                  		attr_field_value = attr_value_object.present? ? attr_value_object.value : ''
	                  	end %>
	                    <% if att.field_type == "integer" %>
	                      <div class="row">
	                         <div class="col-lg-4">
	                            <label for="Active" class="pull-right echo_patinet form-group"><%= att.label %>  </label> 
	                        </div>
	                        <div class="col-lg-6">
	                            <input type="number" name=<%= "attr[#{att.id}]" %>  <%= att.is_required == true ? 'required' : '' %> class="form-control" value= <%= attr_field_value %> >
	                        </div>
	                       </div>
	                  <% else %>
	                    <div class="row">
	                      <div class="col-lg-4">
	                         <label for="Active" class="pull-right echo_patinet form-group">  <%= att.label %>   </label> 
	                      </div>
	                    <div class="col-lg-6">
	                       <div class="col-lg-6">
			                   <% if att.is_required? %>
			                    <%= select_tag "attr[#{att.id}]", options_from_collection_for_select(att.attribute_options, 'value', 'value', attr_field_value), prompt: "please select #{att.label}", :class=>'form-control pnd-reqst pull-left', required: true %> 
			                   <% else %>
			                    <%= select_tag "attr[#{att.id}]", options_from_collection_for_select(att.attribute_options, 'value', 'value', attr_field_value), prompt: "please select #{att.label}", :class=>'form-control pnd-reqst pull-left'%> 
			                   <% end %>
                  			</div>
	                    </div>
	                    </div>
	                        
	                    <% end %>
	                  <% end %>
	                 <% end %>
				            		
				  
				   
				</div>

		 	</div>

		    <div class="modal-footer">
		        <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
		        <button class="btn save-print-update-edit-btn" type="submit" ><%= @btn_action %></button>
		    </div>
		<% end %>
	</div>
</div>

 <%= javascript_include_tag "modal_form" %>
