<%= simple_form_for(@ium) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :name %>
    <%= f.input :translation %>
    <%= f.input :horw %>
    <%= f.input :requested_date %>
    <%= f.input :to_be_approved_by %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
