<%= simple_form_for @ia, :url => '/ia', :method => :post , remote: true , :html => { :id => "add_ia_form"}  do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
       <div class= "form-group">
    <div class="row">
           <div class="col-lg-4">
                 <label for = "ia_name" class="echo_patinet pull-right control-label">NAME:</label>
          </div>
            <div class="col-lg-6">
            <%= f.input :name ,:label => false %>
            </div>
     </div>
  </div>
  <div class= "form-group">
    <div class="row">
           <div class="col-lg-4">
                 
          </div>
          
     </div>
  </div>
<div class="form-group">
  <div class="row">
         <label for ="datepicker"  class="col-lg-4 control-label" >INBOX DATE:</label>
         <div class="col-lg-6">
           <input type="text" class="datetimepicker_ia form-control" id="datetimepicker_ia" name="dob" required="" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>" aria-required="true">
         </div>
        </div>
     </div>

     <div class="form-group">
     <div class="row">
         <label for ="datepicker2" class="col-lg-4 control-label">SENT DATE:</label>
         <div class="col-lg-6">
           <input type="text" class="datetimepicker_ia form-control" id="datepicker2" name="dob" required="" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>"  aria-required="true">
         </div>
        </div>
     </div>

     <div class="form-group">
     <div class="row">
         <label  for ="datepicker3" class="col-lg-4 control-label">RECEIVED DATE:</label>
         <div class="col-lg-6">
           <input type="text" class="datetimepicker_ia form-control" id="datepicker3" name="dob" required="" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>"  aria-required="true">
         </div>
        </div>
     </div>
  <div class= "form-group">
    <div class="row">
           <div class="col-lg-4">
                 <label for = "ia_project_id" class=" echo_patinet pull-right control-label">PROJECT:</label>
          </div>


            <div class="col-lg-6">

            <%= f.select :project_id, options_from_collection_for_select(@project, 'id', 'name'),{include_blank: false}, :class=>'form-control pnd-reqst pull-left'%>


            </div>
     </div>
  </div>

  </div>
<% end %>
