%h1 Listing ia

%table
  %thead
    %tr
      %th Id
      %th Name
      %th Translation
      %th Horw
      %th Requested date
      %th To be approved by
      %th
      %th
      %th

  %tbody
    - @ia.each do |ium|
      %tr
        %td= ium.id
        %td= ium.name
        %td= ium.translation
        %td= ium.horw
        %td= ium.requested_date
        %td= ium.to_be_approved_by
        %td= link_to 'Show', ium
        %td= link_to 'Edit', edit_ium_path(ium)
        %td= link_to 'Destroy', ium, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ium', new_ium_path
