<h1>Listing ia</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Horw</th>
      <th>Inbox date</th>
      <th>Sent date</th>
      <th>Received date</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ia.each do |ia| %>
      <tr>
        <td>
          <%= ia.name %>
        </td>
        <td>
          <%= ia.translation %>
        </td>
        <td>
          <%= ia.horw %>
        </td>
        <td>
          <%= ia.inbox_date %>
        </td>
        <td>
          <%= ia.sent_date %>
        </td>
        <td>
          <%= ia.received_date %>
        </td>
        <td>
          <%= ia.project_id %>
        </td>
        <td>
          <%= link_to 'Show', ia %>
        </td>
        <td>
          <%= link_to 'Edit', edit_ia_path(ia) %>
        </td>
        <td>
          <%= link_to 'Destroy', ia, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Ia', new_ia_path %>
