<h1>Listing ia</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Horw</th>
      <th>Inbox date</th>
      <th>Sent date</th>
      <th>Received date</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ia.each do |ium| %>
      <tr>
        <td>
          <%= ium.name %>
        </td>
        <td>
          <%= ium.translation %>
        </td>
        <td>
          <%= ium.horw %>
        </td>
        <td>
          <%= ium.inbox_date %>
        </td>
        <td>
          <%= ium.sent_date %>
        </td>
        <td>
          <%= ium.received_date %>
        </td>
        <td>
          <%= ium.project_id %>
        </td>
        <td>
          <%= link_to 'Show', ium %>
        </td>
        <td>
          <%= link_to 'Edit', edit_ium_path(ium) %>
        </td>
        <td>
          <%= link_to 'Destroy', ium, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Ium', new_ium_path %>
