<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @ia.name %>
</p>
<p>
  <b>Translation:</b>
  <%= @ia.translation %>
</p>
<p>
  <b>Horw:</b>
  <%= @ia.horw %>
</p>
<p>
  <b>Inbox date:</b>
  <%= @ia.inbox_date %>
</p>
<p>
  <b>Sent date:</b>
  <%= @ia.sent_date %>
</p>
<p>
  <b>Received date:</b>
  <%= @ia.received_date %>
</p>
<p>
  <b>Project:</b>
  <%= @ia.project_id %>
</p>
<%= link_to 'Edit', edit_ia_path(@ia) %>
\|
<%= link_to 'Back', ia_path %>
