<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Id:</b>
  <%= @ium.id %>
</p>
<p>
  <b>Name:</b>
  <%= @ium.name %>
</p>
<p>
  <b>Translation:</b>
  <%= @ium.translation %>
</p>
<p>
  <b>Horw:</b>
  <%= @ium.horw %>
</p>
<p>
  <b>Requested date:</b>
  <%= @ium.requested_date %>
</p>
<p>
  <b>To be approved by:</b>
  <%= @ium.to_be_approved_by %>
</p>
<%= link_to 'Edit', edit_ium_path(@ium) %>
\|
<%= link_to 'Back', ia_path %>
