<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Id:</b>
  <%= @ecr.id %>
</p>
<p>
  <b>Name:</b>
  <%= @ecr.name %>
</p>
<p>
  <b>User:</b>
  <%= @ecr.user_id %>
</p>
<p>
  <b>Status:</b>
  <%= @ecr.status %>
</p>
<p>
  <b>Note:</b>
  <%= @ecr.note %>
</p>
<p>
  <b>Station:</b>
  <%= @ecr.station_id %>
</p>
<p>
  <b>Status start:</b>
  <%= @ecr.status_start %>
</p>
<p>
  <b>Rework of:</b>
  <%= @ecr.rework_of %>
</p>
<%= link_to 'Edit', edit_ecr_path(@ecr) %>
\|
<%= link_to 'Back', ecrs_path %>
