<div class='modal-dialog'>
  <div class='modal-content'>
    <%= simple_form_for @additional_info, :url => add_additional_info_path, remote: true , :html => { :id => "info_modal_form", :class=> 'form-horizontal'}  do |f| %>
      <div class = 'errors__container'>
        <%= render 'layouts/messages' %>
      </div> 
      <div class='modal-header'>
        <button class='close' data-dismiss='modal' type='button'>×</button>
        <h1 class="h1-heading-popup">Additional Info</h1>
      </div>
      <div class='modal-body'>
       <input type="hidden" name="save_note_only" id ="save_note_only">
        <%if @type == 'L1' %>

          <div class="form-group">
            <label class="col-lg-4 control-label"> <%= @workflow.L1 %> Name  </label>
              <div class="col-lg-6">
                <% if @l1.status.downcase! == 'cancel' %>
                  <%= link_to @l1.name, 'javascript:void(0)', title: 'Closed and Canceled level are not editable!' %>
                <% else %>
                  <%= link_to @l1.name, edit_l1_path(@l1.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_l1_modal' , "data-di` smiss" => "modal"} %>
                <% end %>  
              </div>
          </div>

          <%= f.hidden_field :object_id, :value => @l1.id %>
          <%= f.hidden_field :object_type, :value => 'L1' %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :work_flow_id, :value => @workflow.id %>
         

        <%elsif @type == 'L2'%>
          <div class="form-group">
            <label class="col-lg-4 control-label"> <%= @workflow.L2 %> Name </label>
              <div class="col-lg-6">
                <% if @l2.status.downcase! == 'cancel' %>
                  <%= link_to @l2.name, 'javascript:void(0)', title: 'Closed and Canceled level are not editable!' %>
                <% else %>
                  <%= link_to @l2.name, edit_l2_path(@l2.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#l2_update_popup' , "data-dismiss" => "modal"} %>
                <% end %>
              </div>
          </div>

          <%= f.hidden_field :object_id, :value => @l2.id %>
          <%= f.hidden_field :object_type, :value => 'L2' %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :work_flow_id, :value => @workflow.id %>

        <%else%>
          <div class="form-group">
            <label class="col-lg-4 control-label"> <%= @workflow.L3 %> Name </label>
              <div class="col-lg-6">
                <% if @l3.is_closed? || @l3.status.downcase! == 'cancel' %>
                  <%= link_to @l3.name, 'javascript:void(0)', title: 'Closed and Canceled level are not editable!' %>
                <% else %>
                  <%= link_to @l3.name, edit_l3_path(@l3.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#l3_update_popup' , "data-dismiss" => "modal"} %>
                <% end %>
              </div>
          </div>

          <%= f.hidden_field :object_id, :value => @l3.id %>
          <%= f.hidden_field :object_type, :value => 'L3' %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :work_flow_id, :value => @workflow.id %>
        <%end%>
        
        <div class="form-group">
         <label class="col-lg-4 control-label">Status</label>
          <div class="col-lg-6">
            <%= f.select :status, options_from_collection_for_select(@info_status, 'status', 'status',@status_), {prompt: "please select status"},{:'data-remote' => 'true',:'data-url' => url_for(get_reasons_path(@type)),  :class=>'form-control pnd-reqst pull-left'}  %> 
          </div>
        </div>

     <div class="form-group">
         <label class="col-lg-4 control-label">Reason </label>
          <div class="col-lg-6" id= "get_reasons_div">
         
         <%= select_tag "additional_info[reason_code_id]", options_from_collection_for_select(@reasons, 'id', 'reason'),prompt: 'please select Reason', :class=>'form-control pnd-reqst pull-left' %> 


          </div>
          </div>
     

    <div class="form-group">
         <label class="col-lg-4 control-label">Date/Time </label>
         <div class="col-lg-5">
           <input type="text" class="datetimepicker form-control" id="datetimepicker_now" name="additional_info[info_timestamp]" required="" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>"  aria-required="true">
         </div>
         <div class="col-lg-3 pull-left">
          <button class="btn btn-primary pull-left" onclick="set_current_timestamp(); return false;"  >Now</button>
         </div>
         
     </div>

      <div class="form-group">
         <label class="col-lg-4 control-label">Note </label>
          <div class="col-lg-6 ">
            <%= f.input :note ,:label => false %>
        </div>
     </div>
    
      <span>
        <div class="form-group">
           <label class="col-lg-4 control-label">Archive </label>
            <div class="col-lg-6 add_note_div">
              <% @additional_info_data.each do |add_info| 
                user_name = add_info.user.first_name.present? ? add_info.user.first_name : '' 
                if add_info.info_timestamp.present?
                  creation_time = add_info.info_timestamp
                else
                  creation_time = add_info.created_at
                end
                %>

                  <% if add_info.status.present? %>
                    <%= add_info.status+" by "+user_name+" on "+creation_time.strftime("%m/%d/%Y %I:%M %p")  %>
                  <% else %> 
                    <%= "By "+user_name+" on "+creation_time.strftime("%m/%d/%Y %I:%M %p")  %>
                  <% end %> 
                    <br>
                  <% if add_info.workflow_station.present? %>
                    <strong>Station:</strong> <%= add_info.workflow_station.station_name %>
                    <br>
                  <% end %>

                  <% if add_info.reason_code.present? %>
                    <strong>Reason:</strong> <%= add_info.reason_code.reason %>
                    <br>
                  <%end%>

                  <% if add_info.note.present? %>
                    <strong>Note:</strong> <%= add_info.note %>
                    <br>
                  <%end%>
                  ----------------------
                  <br>
                  
              <% end %>
            </div>
        </div> 
   
    </div>
    <div class='modal-footer'>

      <%if @type == 'L1' %>
         <%=  link_to "ADD "+@workflow.L2, add_new_l2_path(@l1.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_l2_modal',"data-dismiss" => "modal", :class => 'btn save-print-update-edit-btn pull-left'} %>
         
          <%=  link_to "ETA-Refresh", eta_refresh_path(@l1.id), { :class => 'btn save-print-update-edit-btn pull-left'} %>

      <%elsif @type == 'L2' %>
          <%=  link_to "ADD "+@workflow.L3, add_new_l3_path(@l2.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_l3_modal',"data-dismiss" => "modal", :class => 'btn save-print-update-edit-btn pull-left'} %>
      <%end%>

      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
      <button class='btn save-print-update-edit-btn' type='submit' onclick="return onlySaveNote();">Save Note only</button>
    </div>
    <% end %>
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>