<div class='modal-dialog'>
  <div class='modal-content'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' type='button'>×</button>
      <h1 class="h1-heading-popup">Additional Info</h1>
    </div>
    <div class='modal-body'>
       <form class="form-horizontal">

        <div class="form-group">
         <label class="col-lg-4 control-label"> <%= @workflow.L2 %>:  </label>
          <div class="col-lg-6">
           
               <%=  link_to @l2.name, edit_l2_path(@l2.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#l2_update_popup' , "data-dismiss" => "modal"} %>

          </div>
        </div>

        <div class="form-group">
         <label class="col-lg-4 control-label">Active </label>
          <div class="col-lg-6">
           <input type="checkbox" name="active" checked>
          </div>
        </div>

     <div class="form-group">
         <label class="col-lg-4 control-label">Station </label>
          <div class="col-lg-6">
           <%= select_tag 'station_name', options_from_collection_for_select(@workflow.workflow_stations, 'id', 'station_name'), prompt: "please select station", :class=>'form-control pnd-reqst pull-left'%> 
          </div>
     </div>

    <div class="form-group">
         <label class="col-lg-4 control-label">Date/Time </label>
         <div class="col-lg-5">
           <input type="text" class="datetimepicker form-control" id="datetimepicker" name="dob" required="" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>"  aria-required="true">
         </div>
         <div class="col-lg-3 pull-left">
          <button class="btn btn-primary pull-left" onclick="set_current_timestamp(); return false;"  >Now</button>
         </div>
         
     </div>

      <div class="form-group">
         <label class="col-lg-4 control-label">Note </label>
          <div class="col-lg-6 ">
            <textarea class="form-control" col='50' id='notes' row='12' ></textarea>
        </div>
     </div>
    
      <span>
        <div class="form-group">
           <label class="col-lg-4 control-label">Archive </label>
            <div class="col-lg-6 ">
              <textarea class="form-control" col='50' id='notes' row='12' ></textarea>
            </div>
        </div> 
   </form>
    </div>
    <div class='modal-footer'>

       <%=  link_to "ADD "+@workflow.L2, add_new_l3_path(@l2.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#add_l3_modal',"data-dismiss" => "modal", :class => 'btn save-print-update-edit-btn pull-left'} %>

      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
    </div>
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>