<div class='modal-dialog' style="width:450px">
  <div class='modal-content'>
    <%= form_tag update_task_confirmation_path, remote: true, :id => 'task_confirmation', :class => 'form-horizontal'  do %>
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
       <h1 class="h1-heading-popup">Task Confirmation</h1>
    </div>
      <div class='modal-body'>
          <input type="hidden" value=<%=@wf_step_id%> name="id" >

          <div class="form-group">
             <label class="col-lg-4 control-label">Project </label>
             <div class="col-lg-8">
                <span id="" name=""> <%= @l2.present? == true ? @l2.l1.name : '' %> </span>
             </div>
          </div>
      
         <div class="form-group">
           <label class="col-lg-4 control-label">IA </label>
           <div class="col-lg-8">
              <span id="" name=""><%= @l2.present? == true ? @l2.name : '' %> </span>
           </div>
         </div>
          <div class="form-group">
             <label class="col-lg-4 control-label">ECR </label>
             <div class="col-lg-8">
              <span id="" name="">
                <% if @l2.present? 
                  @l2.l3s.each do |l3| %>
                  <%= l3.name%> <br> 
                <% end 
                end %>
              </span>
            </div>
          </div> 
          
          <div class="form-group">
             <label class="col-lg-4 control-label">Collaboration</label>
              <div class="col-lg-8">
              <span id="" name="">Sent to Collab.</span>
            </div>
          </div>

           <div class="form-group">
             <label class="col-lg-4 control-label">Timestamp </label>
             <div class="col-lg-8">
              <input type="text" class="datetimepicker form-control" id="datetimepicker" name="workflow_step[actual_confirmation]" required value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>"  aria-required="true">
             </div> 
          </div>
    </div>
    <div class='modal-footer'>
      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Update</button>
    </div>
   <% end %> 
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>
