
<%if @status == 'OnHold'%>
	<div class="form-group">
		<label class="col-lg-4 control-label">Reason</label>
		<div class="col-lg-6">
			<%= select_tag "additional_info[reason_code_id]", options_from_collection_for_select(@reason_codes, 'id', 'reason_code'), :class=>'form-control pnd-reqst pull-left', :required => true, :multiple => true, :size => 8, onclick: 'get_sub_reasons(this, ""); return false;' %> 
		</div>
	</div>

    <div id="sub_reason_list_div">
        <% @sub_reasons_list.each do |subReason| 
          child_mandatory = subReason['child_mandatory'] 
          child_required = child_mandatory ? 'required' : ''
          child_required_class = child_mandatory ? 'child_mandatory' : '' %>
          <% if subReason['sub_list'].present? %>
            <div id="<%= subReason['sub_reasons_div_id'] %>" style="display:none">
              <div class="form-group" id="<%= subReason['sub_reasons_div_id'] %>_id">
                <label class="col-lg-4 control-label">Reason Details <%= subReason['main_reason'] %></label>
                <div class="col-lg-6">
                  <select size="5" multiple="multiple" <%=child_required%> class="form-control valid <%=child_required_class%>" name="additional_info[reason_code_id][]" id="<%= subReason['reasons_id'] %>" >
                    <option value="">please select reason</option>
                    <% subReason['sub_list'].each do |list| %>
                      <option value="<%=list['id']%>"><%=list['reason_code']%></option>
                    <% end %>
                  </select>  
                </div>
             </div>
            </div>
          <% end %>  
        <% end %>
    </div>

	<div style="display:none">
	  <input id="main_reasons_ids" value="<%= @main_reasons_ids %>" />
	</div>

	<div class="form-group">
		<label class="col-lg-4 control-label">Station</label>
		<div class = "col-lg-6">
			<%= select_tag "additional_info[station]", options_from_collection_for_select(@stations, 'reason', 'reason'),prompt: 'please select station', :class=>'form-control pnd-reqst pull-left' , :required => true %> 
		</div>
	</div>
<%else%>
<%end%>
