	<div class="project-data project_ia collapsed" id="project_ia">
	 <a href="#" class="collapsed-icon" title="Detail" onclick="label_attributes_box(); return false;"></a>
		<div style="overflow:hidden;">
			<table class="table table-bordered">
				<thead>
					<tr class="main_heading">
						<th style="width: 85px;"> </th>
						<th style="width: 85px;"> </th>
						<th style="width: 94px;"> </th>
						<th class="collapse_table_data collapse_table" > </th>
						<th class="collapse_table_data collapse_table"> </th>
						<th class="collapse_table_data collapse_table"> </th>
						<th class="collapse_table_data collapse_table"> </th>
						<th class="collapse_table_data collapse_table"> </th>
					</tr>
					<tr class="sub_heading">
						<th><%= @workflow.L1 %></th>
						<th><%= @workflow.L2 %></th>
						<th><%= @workflow.L3 %></th>
						<th class="collapse_table_data collapse_table">Status</th>
						<th class="collapse_table_data collapse_table">BU</th>
						<% attributes = []
						@label_attributes.each do |label_attri| 
							if !attributes.include? label_attri.short_label 
								attributes << label_attri.short_label %>
								<th class="collapse_table_data collapse_table"><%= label_attri.short_label %></th>
						<% end 
						end %>
						
					</tr>
				</thead>
				<tbody>

						<% @l1s.each do |l1| %>
							<tr>
								<td colspan="3" class="project">
									<%=  link_to l1.name, l1_status_popup_path(l1), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#project_status_popup'} %>
								</td>
									<td class="collapse_table_data collapse_table"><%= l1.is_active == true ? 'Active' : '' %></td>
									<td class="collapse_table_data collapse_table"><%= l1.business_unit %></td>
									 <% attribute_values_data = l1.attribute_values
										attributes = []
										@label_attributes.each do |label_attri| 
											if !attributes.include? label_attri.short_label 
												attributes << label_attri.short_label %>
												<td class="collapse_table_data collapse_table">
													<% attribute_values_data.each do |data| 
														if data.label_attribute.present?
															if data.label_attribute.short_label == label_attri.short_label%>
													<%= data.value %>
													<% end end end%>
												</td>
										<% end 
										end %>
							</tr>  

							<% l1.l2s.each do |l2| %>
								<tr>
									<td></td>
									<td colspan="2">
									<%= link_to l2.name, open_info_modal_path(l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
									<td class="collapse_table_data collapse_table"><%= l2.is_active == true ? 'Active' : '' %></td>
									<td class="collapse_table_data collapse_table"><%= l2.business_unit %></td>
									 <% attribute_values_data = l2.attribute_values
										attributes = []
										@label_attributes.each do |label_attri| 
											if !attributes.include? label_attri.short_label 
												attributes << label_attri.short_label %>
												<td class="collapse_table_data collapse_table">
													<% attribute_values_data.each do |data| 
														if data.label_attribute.present?
															if data.label_attribute.short_label == label_attri.short_label%>
													<%= data.value %>
													<% end end end%>
												</td>
										<% end 
										end %>
								</tr>
								<% l2.l3s.each do |l3| %>
									<tr>
										<td></td>
										<td></td>
										<td>
											<%= link_to l3.name, open_info_modal_l3_path(l3.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
										<td class="collapse_table_data collapse_table"><%= l3.is_active == true ? 'Active' : '' %></td> 
										<td class="collapse_table_data collapse_table"><%= l3.business_unit %></td> 
											<% attribute_values_l3_data = l3.attribute_values
											attributes = []
											@label_attributes.each do |label_attri| 
												if !attributes.include? label_attri.short_label 
													attributes << label_attri.short_label %>
													<td class="collapse_table_data collapse_table">
														<% attribute_values_l3_data.each do |l3_data| 
															if l3_data.label_attribute.present?
																if l3_data.label_attribute.short_label == label_attri.short_label%>
														<%= l3_data.value %>
														<% end end end%>
													</td>
											<% end 
											end %>
									</tr>
								<% end %>  
							<% end %>  
						<% end %>  

				</tbody>
				</table>
		</div>
	</div>

	<div class="approval-data tspend_initial" id="detail_data">
	 <a href="#" class="minus-icon"></a>
		<table class="table table-bordered">
			<thead>
				<tr class="main_heading">
					<% @workflow_stations.each do |station| %>
						<th colspan= <%= station.station_steps.length %> style="text-align:center" >
							<%= station.station_name %>
						</th>
					<% end %>
				</tr>
				<tr class="sub_heading">
					<% @workflow_stations.each do |station|
						station.station_steps.each do |step| %>
							<th style="text-align:center" >
								<%= step.step_name %>
							</th>
					<% end 
					end %>
				</tr>
			</thead>
			<tbody>
				<% @l1s.each do |l1| %>
					<tr>
						<td colspan="11" class="project"></td>
					</tr>  
					<%l1.l2s.each do |l2|%>
					    <tr>
						    <% workflow_liveSteps = l2.workflow_live_steps
							@workflow_stations.each do |station|
								station.station_steps.each do |step| 
									workflow_live_step = workflow_liveSteps.find{|wkls| wkls.station_step_id == step.id } 
									if workflow_live_step.present? %>
										<td>
											<% if workflow_live_step.actual_confirmation.blank? %>
												<%= link_to 'Not Started' , open_confirm_modal_path(workflow_live_step.id, l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} %>
											<% elsif workflow_live_step.actual_confirmation.present? %>
												<%= link_to workflow_live_step.actual_confirmation.strftime("%m/%d/%Y %I:%M %p") , open_rework_modal_path(workflow_live_step.id, l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#rework_modal_popup'} %>
											<% end %> 
										</td>
								 <% else %>
									<td><%= step.recording_level == 'L2' ? 'N/A' : ''  %></td>	 
								 <% end 
							    end 
						    end%>
					    </tr>
						<% l2.l3s.each do |l3| %>		
						    <tr>
							    <%workflow_liveSteps = l3.workflow_live_steps
								@workflow_stations.each do |station|
									station.station_steps.each do |step| 
										workflow_live_step = workflow_liveSteps.find{|wkls| wkls.station_step_id == step.id } 
										if workflow_live_step.present? %>
											<td>
												<% if workflow_live_step.actual_confirmation.blank? %>
													<%= link_to 'Not Started' , open_confirm_modal_path(workflow_live_step.id, l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} %>
												<% elsif workflow_live_step.actual_confirmation.present? %>
													<%= link_to workflow_live_step.actual_confirmation.strftime("%m/%d/%Y %I:%M %p") , open_rework_modal_path(workflow_live_step.id, l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#rework_modal_popup'} %>
												<% end %> 
											</td>
									<%  else %>
										<td><%= step.recording_level == 'L3' ? 'N/A' : ''  %></td>	 
									 <% end 
									end 
								end%>
							</tr>	
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	 </div> 
	</div>

<style>
	.rework {
		width: 700px;
	}
.container {
		/*width: 1560px;*/
		background-color: #fff;
}
.navbar-default{
	 background-color: #fff;
}
</style>
