	<div class="project-data project_fix fix_levels" id="">
		<% attribute_count = []
		@label_attributes.each do |label_attri| 
			if !attribute_count.include? label_attri.short_label 
				attribute_count << label_attri.short_label %>
		<% end 
		end %>
		<div>
			<table class="table table-bordered">
				<thead>
					<tr class="main_heading">
						<th style="width: 85px;"> </th>
						<th style="width: 85px;"> </th>
						<th style="width: 94px;"> </th>
					</tr> 
					<tr class="sub_heading">
						<th><%= @workflow.L1 %></th>
						<th><%= @workflow.L2 %></th>
						<th><%= @workflow.L3 %></th>
					</tr>
				</thead>
				<tbody> 
						<% @l1s.each do |l1| %>
							<tr style= "background-color: <%=  @workflow.l1_bg_color%>">
								<td colspan="3" class="project">
									<%=  link_to l1.name, open_info_modal_l1_path(l1), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#info_modal_popup'} %>
								</td>
							</tr>  
							<%if @show_search_result_l2 == 'filter_type_l2' 
							   l2_rows = @l2_records
							  else
							   l2_rows = l1.l2s  	
							  end %>
							<% l2_rows.each do |l2| %>
								<tr>
									<td></td>
									<td colspan="2">
									<%= link_to l2.name, open_info_modal_l2_path(l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %></td>
								</tr>

								<%if @show_search_result_l3 == 'filter_type_l3' 
								   l3_rows = @l3_records
								  else
								   l3_rows = l2.l3s  	
								  end %>
								<% l3_rows.each do |l3| %>
									<tr>
										<td></td>
										<td></td>
										<td>
											<%= link_to l3.name, open_info_modal_l3_path(l3.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
										</td>
									</tr>
								<% end %>  
							<% end %>  
						<% end %>  

				</tbody>
				</table>
		</div>
	</div>

	<div class="project-data project_ia" id="project_ia">
	 <a href="#" class="collapsed-icon" title="Detail" onclick="label_attributes_box(); return false;"></a>
		<% attribute_count = []
		@label_attributes.each do |label_attri| 
			if !attribute_count.include? label_attri.short_label 
				attribute_count << label_attri.short_label %>
		<% end 
		end %>
		<div class= <%= attribute_count.length == 3 ? 'overflow_hidden' : 'overflow_scroll' %> >
			<table class="table table-bordered">
				<thead>
					<tr class="main_heading">
						<th class="_data" > </th>
						<th class="_data"> </th>
						<th class="_data"> </th>
						<% attributes = []
						@label_attributes.each do |label_attri| 
							if !attributes.include? label_attri.short_label 
								attributes << label_attri.short_label %>
							<th class="_data "> </th>
						<% end 
						end %>
					</tr> 
					<tr class="sub_heading">
						<th class="_data ">Status</th>
						<th class="_data ">BU</th>
						<th class="_data ">#Comp</th>
						<% attributes = []
						@label_attributes.each do |label_attri| 
							if !attributes.include? label_attri.short_label 
								attributes << label_attri.short_label %>
								<th class="_data "><%= label_attri.short_label %></th>
						<% end 
						end %>
						
					</tr>
				</thead>
				<tbody>
						<% @l1s.each do |l1| %>
							<tr>
								<td class="_data "><%= l1.status %></td>
								<td class="_data "><%= l1.business_unit %></td>
								<td class="_data "><%= l1.num_component %></td> 
								 <% attribute_values_data = l1.attribute_values
									attributes = []
									@label_attributes.each do |label_attri| 
										if !attributes.include? label_attri.short_label 
											attributes << label_attri.short_label %>
											<td class="_data ">
												<% attribute_values_data.each do |data| 
													if data.label_attribute.present?
														if data.label_attribute.short_label == label_attri.short_label%>
												<%= data.value %>
												<% end end end%>
											</td>
									<% end 
									end %>
							</tr>  
							<%if @show_search_result_l2 == 'filter_type_l2' 
							   l2_rows = @l2_records
							  else
							   l2_rows = l1.l2s  	
							  end %>
							<% l2_rows.each do |l2| %>
								<tr>
									<td class="_data "><%= l2.status %></td>
									<td class="_data "><%= l2.business_unit %></td>
									<td class="_data "><%= l2.num_component %></td> 
									 <% attribute_values_data = l2.attribute_values
										attributes = []
										@label_attributes.each do |label_attri| 
											if !attributes.include? label_attri.short_label 
												attributes << label_attri.short_label %>
												<td class="_data ">
													<% attribute_values_data.each do |data| 
														if data.label_attribute.present?
															if data.label_attribute.short_label == label_attri.short_label%>
													<%= data.value %>
													<% end end end%>
												</td>
										<% end 
										end %>
								</tr>

								<%if @show_search_result_l3 == 'filter_type_l3' 
								   l3_rows = @l3_records
								  else
								   l3_rows = l2.l3s  	
								  end %>
								<% l3_rows.each do |l3|
									if l3.is_closed?
										componenets = l3.num_component
									else 
										rework_components = 0
									    reworks = L3.where(rework_parent_id: l3.id, is_closed: false)
									    reworks.each do |rework|
									      rework_components += rework.num_component
									    end
									    closed_reworks = L3.where(rework_parent_id: l3.id, is_closed: true)
								        closed_reworks.each do |clos_rework|
								          closed_reworks_partial = L3.where(rework_parent_id: clos_rework.id, is_closed: false)
								          closed_reworks_partial.each do |closedreworkspartial|
								            rework_components += closedreworkspartial.num_component
								          end
								        end
										comp = l3.num_component.present? ? l3.num_component : 1
										componenets = comp.to_i - rework_components.to_i 
									end%>
									<tr>
										<td class="_data "><%= l3.status %></td> 
										<td class="_data "><%= l3.business_unit %></td> 
										<td class="_data "><%= componenets %></td> 
											<% attribute_values_l3_data = l3.attribute_values
											attributes = []
											@label_attributes.each do |label_attri| 
												if !attributes.include? label_attri.short_label 
													attributes << label_attri.short_label %>
													<td class="_data ">
														<% attribute_values_l3_data.each do |l3_data| 
															if l3_data.label_attribute.present?
																if l3_data.label_attribute.short_label == label_attri.short_label%>
														<%= l3_data.value %>
														<% end end end%>
													</td>
											<% end 
											end %>
									</tr>
								<% end %>  
							<% end %>  
						<% end %>  

				</tbody>
				</table>
		</div>
	</div>

	<div class="approval-data tspend_initial" id="detail_data">
	 <a href="#" class="minus-icon"></a>
		<table class="table table-bordered">
			<thead>
				<tr class="main_heading">
					<% @workflow_stations.each do |station| %>
					<% if station.station_steps.where(is_visible: true).length > 0 %>
						<th colspan= <%= station.station_steps.where(is_visible: true).length %> style="text-align:center" >
							<%= station.station_name %>
						</th>
						<% end %>
					<% end %>
				</tr>
				<tr class="sub_heading">
					<% @workflow_stations.each do |station|
						station.station_steps.where(is_visible: true).order(:sequence).each do |step|
							pred_name = "\n" 
							step.transitions.each do |trasn|
								pred_name = pred_name+'*'+trasn.previous_station_step.workflow_station.station_name+' - '+trasn.previous_station_step.step_name
								pred_name = pred_name+"\n"
							end %>
							<th style="text-align:center" 
								title="<%=station.station_name %> - <%=step.step_name %>&#013;Days: <%=step.duration_days.present? ? step.duration_days : 0 %> Minutes: <%=step.duration_minutes.present? ? step.duration_minutes : 0 %>&#013;Indicator: <%=step.duration_multiplier %>&#013;&#013;Predecessors: <%=pred_name%>">
								<%= step.step_name %>
							</th>
					<% end 
					end %>
				</tr>
			</thead>
			<tbody>
				<% @l1s.each do |l1| %>
					<tr>
						<% workflow_liveSteps = l1.workflow_live_steps
						@workflow_stations.each do |station|
							station.station_steps.where(is_visible: true).order(:sequence).each do |step| 
								workflow_live_step = workflow_liveSteps.find{|wkls| wkls.station_step_id == step.id }
								
								eta_red_class = ''
								if workflow_live_step.present?
									if workflow_live_step.eta.present?
										if DateTime.parse(Time.now.to_s) > DateTime.parse(workflow_live_step.eta.to_s)
											eta_red_class = 'eta_light_red'
										end
									end
								end

								if workflow_live_step.present? and workflow_live_step.is_active? %>
									<td title= "<%= station.station_name+' - '+ step.step_name %>" class = "<%= workflow_live_step.actual_confirmation.present? ? 'actual_confirmation' : workflow_live_step.eta.present? ? eta_red_class : '' %>">
										<% if workflow_live_step.actual_confirmation.blank? and workflow_live_step.eta.blank? %>
											<%= link_to 'Not Started' , open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} %>
										<% elsif workflow_live_step.actual_confirmation.present? %>
											<%= link_to 'javascript:void(0)' do %>
												<%= workflow_live_step.actual_confirmation.strftime("%m/%d/%y") %>
												<br />
												<%= workflow_live_step.actual_confirmation.strftime("%I:%M %p") %>
											<% end %>
										<% elsif workflow_live_step.eta.present? %>
											<%= link_to open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} do %>
												<%= "ETA "+workflow_live_step.eta.strftime("%m/%d/%y") %>
												<br />
												<%= workflow_live_step.eta.strftime("%I:%M %p") %>
											<% end %>
										<% end %> 
									</td>
							 <% else %>
								<td title= "<%= station.station_name+' - '+ step.step_name %>" class="<%= step.recording_level == 'L1' ? 'na' : '' %>"  ><%= step.recording_level == 'L1' ? 'N/A' : ''  %></td>	 
							 <% end 
						    end 
					    end%>
					</tr> 
					<%if @show_search_result_l2 == 'filter_type_l2' 
					   l2_rows = @l2_records 
					  else
					   l2_rows = l1.l2s  	
					  end %>
					<% l2_rows.each do |l2|%>
					    <tr>
						    <% workflow_liveSteps = l2.workflow_live_steps
							@workflow_stations.each do |station|
								station.station_steps.where(is_visible: true).order(:sequence).each do |step| 
									workflow_live_step = workflow_liveSteps.find{|wkls| wkls.station_step_id == step.id } 

									eta_red_class = ''
									if workflow_live_step.present?
										if workflow_live_step.eta.present?
											if DateTime.parse(Time.now.to_s) > DateTime.parse(workflow_live_step.eta.to_s)
												eta_red_class = 'eta_light_red'
											end
										end
									end

									if workflow_live_step.present? and workflow_live_step.is_active? %>
										<td title= "<%= station.station_name+' - '+ step.step_name %>"
											class= "<%= workflow_live_step.actual_confirmation.present? ? 'actual_confirmation' : workflow_live_step.eta.present? ? eta_red_class : '' %>" >
											<% if workflow_live_step.actual_confirmation.blank? and workflow_live_step.eta.blank? %>
												<%= link_to 'Not Started' , open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} %>
											<% elsif workflow_live_step.actual_confirmation.present? %>
												<%= link_to 'javascript:void(0)' do %>
													<%= workflow_live_step.actual_confirmation.strftime("%m/%d/%y") %>
													<br />
													<%= workflow_live_step.actual_confirmation.strftime("%I:%M %p") %>
												<% end %>
											<% elsif workflow_live_step.eta.present? %>
												<%= link_to open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} do %>
													<%= "ETA "+workflow_live_step.eta.strftime("%m/%d/%y") %>
													<br />
													<%= workflow_live_step.eta.strftime("%I:%M %p") %>
												<% end %>
											<% end %> 
										</td>
								 <% else %>
									<td title= "<%= station.station_name+' - '+ step.step_name %>"
										class="<%= step.recording_level == 'L2' ? 'na' : '' %>" ><%= step.recording_level == 'L2' ? 'N/A' : ''  %></td>	 
								 <% end 
							    end 
						    end%>
					    </tr>

						<%if @show_search_result_l3 == 'filter_type_l3' 
						   l3_rows = @l3_records
						  else
						   l3_rows = l2.l3s  	
						 end %>
						<% l3_rows.each do |l3| %>		
						    <tr>
							    <%workflow_liveSteps = l3.workflow_live_steps
								@workflow_stations.each do |station|
									station.station_steps.where(is_visible: true).order(:sequence).each do |step| 
										workflow_live_step = workflow_liveSteps.find{|wkls| wkls.station_step_id == step.id } 

											eta_red_class = ''
											if workflow_live_step.present?
												if workflow_live_step.eta.present?
													if DateTime.parse(Time.now.to_s) > DateTime.parse(workflow_live_step.eta.to_s)
														eta_red_class = 'eta_light_red'
													end
												end
											end

										if workflow_live_step.present? and workflow_live_step.is_active? %>
											<td title= "<%= station.station_name+' - '+ step.step_name %>"
												class = "<%= workflow_live_step.actual_confirmation.present? ? 'actual_confirmation' : workflow_live_step.eta.present? ? eta_red_class : '' %>" >
												<% if workflow_live_step.actual_confirmation.blank? and workflow_live_step.eta.blank? %>
													<%= link_to 'Not Started' , open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} %>
												<% elsif workflow_live_step.actual_confirmation.present? %>
													<% if workflow_live_step.object.is_closed? %>
														<%= link_to 'javascript:void(0)' do %>
															<%= workflow_live_step.actual_confirmation.strftime("%m/%d/%y") %>
															<br />
															<%= workflow_live_step.actual_confirmation.strftime("%I:%M %p") %>
														<% end %>
													<% else %>
													<%= link_to open_rework_modal_path(workflow_live_step.id, l2.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#rework_modal_popup'} do %>
															<%= workflow_live_step.actual_confirmation.strftime("%m/%d/%y") %>
															<br />
															<%= workflow_live_step.actual_confirmation.strftime("%I:%M %p") %>
														<% end %>	
													<% end %>
												<% elsif workflow_live_step.eta.present? %>
													<%= link_to open_confirm_modal_path(workflow_live_step.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#confirm_modal_popup'} do %>
														<%= "ETA "+workflow_live_step.eta.strftime("%m/%d/%y") %>
														<br />
														<%= workflow_live_step.eta.strftime("%I:%M %p") %>
													<% end %>
												<% end %> 
											</td>
									<%  else %>
										<td title= "<%= station.station_name+' - '+ step.step_name %>"
											class="<%= step.recording_level == 'L3' ? 'na' : '' %>" ><%= step.recording_level == 'L3' ? 'N/A' : ''  %></td>	 
									 <% end 
									end 
								end%>
							</tr>	
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	 </div> 
	</div>

    <%= javascript_include_tag "js.cookie" %>
    <%= javascript_include_tag "labeling_cookie" %>
    
	<style type="text/css">
		.container{
		    background-color: #fff;    
		}
	</style>

