
<div class='modal-dialog' style="width:450px">
  <div class='modal-content'>
    <%= form_tag save_reject_reason_path, remote: true, :id => 'save_reject_reason', :class => 'form-horizontal'  do %>
     
     <div class = 'errors__container'>
        <%= render 'layouts/messages' %>
     </div>
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
       <h1 class="h1-heading-popup">Reject Reason</h1>
    </div>
      <div class='modal-body'>

          <input type="hidden" id="additional_info_object_id" name="additional_info[object_id]" value="<%=@l2.id%>">
          <input type="hidden" id="additional_info_object_type" name="additional_info[object_type]" value="L2">
          <input type="hidden" id="additional_info_user_id" name="additional_info[user_id]" value="<%=current_user.id%>">
          <input type="hidden" id="additional_info_work_flow_id" name="additional_info[work_flow_id]" value="<%=@workflow.id%>">


         <div class="form-group">
			<label class="col-lg-3 control-label">Reason </label>
            <div class="col-lg-8">
			    <select id="l1_status" name="additional_info[reject_reason]" required="required" class="form-control pnd-reqst pull-left valid">
					<option value="internal" >Internal</option>
					<option value="external" >External</option>
				</select>
            </div>
         </div>

        <div class="form-group">
         <label class="col-lg-3 control-label">Note </label>
          <div class="col-lg-8">
          	<textarea id="reason_note" name="additional_info[note]" maxlength="65535" class="text optional form-control"></textarea>
         </div>
    	</div>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
    </div>
   <% end %> 
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>

