<div class='modal-dialog'>
  <div class='modal-content'>

  <%= simple_form_for @rework, :url => create_rework_info_path, remote: true , :html => { :id => "rework_modal_from", :class=> 'form-horizontal'}  do |f| %>  
    <div class = 'errors__container'>
      <%= render 'layouts/messages' %>
    </div>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
     <h1 class="h1-heading-popup">Rework</h1>
  </div>
    <div class='modal-body'>
      <%= f.hidden_field :object_type , :value=> @object_type %>
      <%= f.hidden_field :object_id , :value=> @object.id %>
      <%= f.hidden_field :user_id , :value=> @user_id %>
      <%= f.hidden_field :step_initiating_rework , :value=> @current_step.id %>
      <input type="hidden" name="rework_parent_id" value= "<%=@object.id%>" />
      <input type="hidden" name="num_component" value= "<%=@object_num_component%>" />
      <input type="hidden" name="component_already_in_rework" value= "<%=@rework_components%>" />


        <div class="form-group">
           <label class="col-lg-4 control-label"><%= @workflow.L1 %>: </label>
           <div class="col-lg-6">
               <span id="" name=""> <%= @l1.present? == true ? @l1.name :
                 @l2.present? == true ? @l2.l1.name :
                 @l3.present? == true ? @l3.l2.l1.name : 
                 '' %> </span>
           </div>
       </div>

        <% if @l2.present? || @l3.present?  %>

     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L2 %>:</label>
         <div class="col-lg-6">

            <span id="" name="">
                 <% if @l2.present?  %>
                      <%= @l2.name %>
              <% elsif @l3.present? %>
                  <%= @l3.l2.name %>
                  <% end %>
              </span>

         </div>
     </div>
     <%end%>
       <% if @l3.present? %>
     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L3 %>:</label>
         <div class="col-lg-6">  <span id="" name="">
                 <% if @l3.present?  %>
                    <%= @l3.name %>
                 <% elsif @l2.l3.present? %>
                    <%= @l2.l3.name %>
                 <% end %>
              </span>
         </div>
     </div>
     <%end%>
      <div class="form-group">
        <label class="col-lg-4 control-label">Station Initiating the rework</label>
        <div class="col-lg-6">
          <%= @current_station.station_name %>
         </div>
     </div> 
      <div class="form-group">
        <label class="col-lg-4 control-label">Step Initiating the rework</label>
        <div class="col-lg-6">
           <%= @current_step.step_name %>
         </div>
     </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Start rework at step</label>
        <div class="col-lg-6" id= "get_steps_div">
         <select class = "form-control" id="rework_start_step" name="rework_info[rework_start_step]" required="required"> 
          <option value="">Please Select Step</option>
          <% @level_steps.each do |stp| %>
            <option value="<%= stp.id %>" ><%= stp.workflow_station.station_name+' - '+ stp.step_name%></option>
          <% end %>
         </select>
        </div>
      </div>

      <div class="form-group">
         <label class="col-lg-4 control-label">Reason</label>
          <div class="col-lg-6">
            <%= select_tag "rework_info[reason]", options_from_collection_for_select(@reason_codes, 'id', 'reason'), prompt: "please select reason", :class=>'form-control', required: true %>
           </div>
     </div>

     <div class="form-group">
       <label class="col-lg-4 control-label">#Comp</label>
        <div class="col-lg-6">
          <input type="number" id="comp" class="form-control" name="num_component_rework" value="<%=@object_num_component%>" max="<%=@object_num_component%>" min="0" >   
        </div>
     </div>

     <div class="form-group">
        <label class="col-lg-4 control-label">Move Original Record back to</label>
        <div class="col-lg-6" id= "get_steps_div">
         <select class = "form-control" id="rework_start_step" name="move_riginal_record_back_to" onchange="about_existing_confirmartion(this.value); return false;";> 
          <option value="">Please Select Step</option>
          <% @level_steps.each do |stp| %>
            <option value="<%= stp.id %>" ><%= stp.workflow_station.station_name+' - '+ stp.step_name%></option>
          <% end %>
         </select>
        </div>
      </div>

      <div class="form-group" id="move_riginal_record_back_div">

      </div>


    </div>
    <div class='modal-footer'>
      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
    </div>
    <%end%>
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>
