<div class='modal-dialog'>
  <div class='modal-content'>

  <%= simple_form_for @rework, :url => create_rework_info_path, remote: true , :html => { :id => "rework_modal_from", :class=> 'form-horizontal'}  do |f| %>  
    <div class = 'errors__container'>
      <%= render 'layouts/messages' %>
    </div>
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
     <h1 class="h1-heading-popup">Rework</h1>
  </div>
    <div class='modal-body' style="overflow-y:scroll; max-height:480px">
      <%= f.hidden_field :object_type , :value=> @object_type %>
      <%= f.hidden_field :object_id , :value=> @object.id %>
      <%= f.hidden_field :user_id , :value=> @user_id %>
      <%= f.hidden_field :step_initiating_rework , :value=> @wf_step_id %>
      <input type="hidden" name="rework_parent_id" value= "<%=@object.id%>" />
      <input type="hidden" id ="total_num_component" name="num_component" value= "<%=@parent_total_components%>" />
      <input type="hidden" id ="component_already_in_rework" name="component_already_in_rework" value= "<%=@rework_components%>" />
      <input type="hidden" id="merge_back_partial_with_parent" name="merge_back_partial_with_parent" />
      <input type="hidden" name="partial_to_merge_id" value= "<%=@object.id%>" />

       <div class="form-group" id="full_rework_not_possible">
       </div>

        <div class="form-group">
           <label class="col-lg-4 control-label"><%= @workflow.L1 %>: </label>
           <div class="col-lg-6">
               <span id="" name=""> <%= @l1.present? == true ? @l1.name :
                 @l2.present? == true ? @l2.l1.name :
                 @l3.present? == true ? @l3.l2.l1.name : 
                 '' %> </span>
           </div>
       </div>

        <% if @l2.present? || @l3.present?  %>

     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L2 %>:</label>
         <div class="col-lg-6">

            <span id="" name="">
                 <% if @l2.present?  %>
                      <%= @l2.name %>
              <% elsif @l3.present? %>
                  <%= @l3.l2.name %>
                  <% end %>
              </span>

         </div>
     </div>
     <%end%>
       <% if @l3.present? %>
     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L3 %>:</label>
         <div class="col-lg-6">  <span id="" name="">
                 <% if @l3.present?  %>
                    <%= @l3.name %>
                 <% elsif @l2.l3.present? %>
                    <%= @l2.l3.name %>
                 <% end %>
              </span>
         </div>
     </div>
     <%end%>

      <div class="form-group">
        <label class="col-lg-4 control-label">Step Initiating the rework</label>
        <div class="col-lg-6">
           <%= @current_step.step_name %>
         </div>
     </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Station</label>
        <div class="col-lg-6">
            <%= select_tag "rework_info[station]", options_from_collection_for_select(@reason_codes_stations, 'reason', 'reason'), prompt: "please select station", :class=>'form-control', required: true %>
         </div>
     </div> 

      <div class="form-group">
         <label class="col-lg-4 control-label">Reason</label>
          <div class="col-lg-6">
            <%= select_tag "rework_info[reason]", options_from_collection_for_select(@reason_codes, 'id', 'reason_code'), prompt: "please select reason", :class=>'form-control', required: true, :multiple => true , :size => 5, onclick: 'get_sub_reasons(this); return false;' %>
           </div>
      </div>

      <div id="sub_reason_list_div">
      </div>
     
      <div class="form-group">
        <label class="col-lg-4 control-label">Start rework at step</label>
        <div class="col-lg-6" id= "get_steps_div">
         <select class = "form-control" id="rework_start_step" name="rework_start_step" required="required"> 
          <option value="">Please Select Step</option>
          <% @level_steps.reverse_each do |stp| %>
            <option value="<%= stp.id %>" ><%= stp.workflow_station.station_name+' - '+ stp.step_name%></option>
          <% end %>
         </select>
        </div>
      </div>
     <div class="form-group">
         <label class="col-lg-4 control-label">Note </label>
          <div class="col-lg-6 ">
            <textarea id="rework_note" name="rework_info[note]" maxlength="65535" class="text optional form-control"></textarea>
        </div>
     </div>

     <div class="form-group">
       <label class="col-lg-4 control-label">#Comp</label>
        <div class="col-lg-6">
          <input type="number" id="selected_num_comp" class="form-control" name="num_component_in_rework" value="<%=@object_num_component%>" max="<%=@object_num_component%>" min="0" >   
        </div>
     </div>

     <div class="form-group">
         <label class="col-lg-4 control-label">Date/Time (confirmation) </label>
         <div class="col-lg-5">
           <input type="text" class="datetimepicker form-control" id="datetimepicker_now_rework" name="rework_date_time" value="<%=Time.now.strftime("%m/%d/%Y %I:%M %p")%>" required >
         </div>
         <div class="col-lg-3 pull-left">
         <button class="btn btn-primary pull-left" onclick="set_current_timestamp_rework(); return false;" >Now</button>
         </div>
     </div>

     <div class="form-group">
        <label class="col-lg-4 control-label">Move Original Record back to</label>
        <div class="col-lg-6" id= "get_steps_div">
         <select class = "form-control" id="rework_start_step" name="move_original_record_back_to_step" onchange="about_existing_confirmartion(this.value); return false;";> 
          <option value="">Please Select Step</option>
          <% @level_steps.each do |stp| %>
            <option value="<%= stp.id %>" ><%= stp.workflow_station.station_name+' - '+ stp.step_name%></option>
          <% end %>
         </select>
        </div>
      </div>
      <div class="form-group" id="move_riginal_record_back_div">
      </div>

    </div>  
    <div class='modal-footer'>
      <% if @can_merge_back.present? %>
        <button class='btn save-print-update-edit-btn' type='submit' style="float: left;" onclick="return set_partial_merger();">Rework done – merge back</button>
      <% elsif @show_merge_button_disable.present? %>
        <%= link_to 'Rework done – merge back', 'javascript:void(0)', {:remote => true, :class=>'btn save-print-update-edit-btn', title: "Record cannot be merged back.&#013;Subordinate Rework record(s) still open.".html_safe  ,:style=>"float: left; background-color: grey !important;", :disabled=>true } %>
      <% end %>

      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit' onclick="return can_be_full_rework();">Save</button>
    </div>
    <%end%>
  </div>
</div>


<div style="display:none">
  <% @sub_reasons_list.each do |subReason| 
    child_mandatory = subReason['child_mandatory'] 
    child_required = child_mandatory ? 'required' : ''
    child_required_class = child_mandatory ? 'child_mandatory' : '' %>
    <% if subReason['sub_list'].present? %>
      <div id="<%= subReason['sub_reasons_div_id'] %>" >
        <div class="form-group">
          <label class="col-lg-4 control-label">Reason Details <%= subReason['main_reason'] %></label>
          <div class="col-lg-6">
            <select size="5" multiple="multiple" <%=child_required%> class="form-control valid <%=child_required_class%>" name="rework_info[reason][]" id="<%= subReason['sub_reasons_div_id'] %>_id">
              <option value="">please select reason</option>
              <% subReason['sub_list'].each do |list| %>
                <option value="<%=list['id']%>"><%=list['reason_code']%></option>
              <% end %>
            </select>  
          </div>
       </div>
      </div>
    <% end %>  
  <% end %>
</div>

 <%= javascript_include_tag "modal_form" %>
