<div class='modal-dialog'>
  <div class='modal-content'>

   <%= form_tag update_rework_modal_path, remote: true, :id => 'rework_modal', :class => 'form-horizontal'  do %>

   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
     <h1 class="h1-heading-popup">Rework</h1>
  </div>
    <div class='modal-body'>

      <form class="form-horizontal">
        <input type="hidden" value=<%=@wf_step_id%> name="id" >

        <div class="form-group">
           <label class="col-lg-4 control-label"><%= @workflow.L1 %>: </label>
           <div class="col-lg-6">
               <span id="" name=""> <%= @l1.present? == true ? @l1.name :
                 @l2.present? == true ? @l2.l1.name :
                 @l3.present? == true ? @l3.l2.l1.name : 
                 '' %> </span>

           </div>
       </div>

        <% if @l2.present? || @l3.present?  %>

     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L2 %>:</label>
         <div class="col-lg-6">

            <span id="" name="">
                 <% if @l2.present?  %>
                      <%= @l2.name %>
              <% elsif @l3.present? %>
                  <%= @l3.l2.name %>
                  <% end %>
              </span>

         </div>
     </div>
     <%end%>
       <% if @l3.present? %>
     <div class="form-group">
         <label class="col-lg-4 control-label"><%= @workflow.L3 %>:</label>
         <div class="col-lg-6">  <span id="" name="">
                 <% if @l2.present?  %>
                      <%= @l2.name %>
              <% elsif @l3.present? %>
                  <%= @l3.l2.name %>
                  <% end %>
              </span>
         </div>
     </div>
     <%end%>
      <div class="form-group">
        <label class="col-lg-4 control-label">Station Initiating the rework</label>
        <div class="col-lg-6">
          <%= @st_name %>
         </div>
     </div> 
      <div class="form-group">
        <label class="col-lg-4 control-label">Step Initiating the rework</label>
        <div class="col-lg-6">
           <%= @st_step %>
         </div>
     </div>
     <div class="form-group">
        <label class="col-lg-4 control-label">Start rework at station</label>
        <div class="col-lg-6">
         <%= select_tag 'station_name', options_from_collection_for_select(@workflow.workflow_stations, 'id', 'station_name'), prompt: "please select station", :class=>'form-control pnd-reqst pull-left'%>

         <!--  <select id="source" class="form-control" name="source">
            <option value="">Station_1</option>
            <option value="Echo Alert In-Patient">Station_2</option>
         </select> -->
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-4 control-label">Start rework at step</label>
        <div class="col-lg-6">
        <%= select_tag :property_id, options_from_collection_for_select(@properties, 'id', 'name'),{prompt: 'Select property'},{:'data-remote' => 'true',:'data-url' => url_for(get_steps(station_id)), :class=>'form-control pnd-reqst pull-left', required: true} %>





         <%= select_tag 'step_name', options_from_collection_for_select(@workflow.workflow_stations, 'id', 'station_name'), prompt: "please select step", :class=>'form-control pnd-reqst pull-left'%>
        </div>
      </div>
      <div class="form-group">
         <label class="col-lg-4 control-label">Reason</label>
          <div class="col-lg-6">
            <select id="source" class="form-control" name="source">
              <option value="">Internal</option>
              <option value="Echo Alert In-Patient">External</option>
           </select>
           </div>
     </div>


       <div class="form-group">
         <label class="col-lg-4 control-label">#Comp</label>
          <div class="col-lg-6">
            <input type="text" id="source" class="form-control" name="source">   
          </div>
     </div>

   </form>

    </div>
    <div class='modal-footer'>
      <button class='btn btn-danger' data-dismiss='modal' type='button'>Close</button>
      <button class='btn save-print-update-edit-btn' type='submit'>Save</button>
    </div>
    <%end%>
  </div>
</div>

 <%= javascript_include_tag "modal_form" %>
