<div class='clearfix'></div> 
<div class='data-main'>

	<div class="project-data" id="projectform">
	 <a href="#" class="collapsed-icon" title="Search form show/hide" onclick="overview_serach_box(); return false;"></a>
		<div style="overflow:hidden;">
		<%= form_tag overview_search_path, remote: true, :id => 'search_form', :class => 'form-horizontal'  do %>
			<div class="project-form">
					<div class="project-fields">
							<div class="row">
								<div class="col-lg-2"></div>
								<div class="col-lg-5">
									Like (wildcard)
								</div>
								<div class="col-lg-5">
									Exact
								</div>
							</div>
					</div>
					<div class="project-fields">
							<div class="row">
								<div class="col-lg-2">
									BU:
								</div>
									<div class="col-lg-5">
										<input type="text" name="wildcard[business_unit]" class="form-control" 
										value= "<%= @wildcard.present? ? @wildcard['business_unit'] : '' %>" >
									</div>
									<div class="col-lg-5">
										<input type="text" name="exact[business_unit]" class="form-control"
										value= "<%= @exact.present? ? @exact['business_unit'] : '' %>"  >
									</div>
								</div>
						</div>
						<div class="project-fields">
							<div class="row">
								<div class="col-lg-2">
									<%= @workflow.L1 %>
								</div>
									<div class="col-lg-10">
											<input type="text" name="wildcard[l1]" class="form-control"
											value= "<%= @wildcard.present? ? @wildcard['l1'] : '' %>" >
										</div>
								</div>
						</div>
						<div class="project-fields">
							<div class="row">
								<div class="col-lg-2">
									<%= @workflow.L2 %>
								</div>
									<div class="col-lg-5">
											<input type="text" name="wildcard[l2]" class="form-control"
											value= "<%= @wildcard.present? ? @wildcard['l2'] : '' %>" >
										</div>
										<div class="col-lg-5">
											<input type="text" name="exact[l2]" class="form-control"
											value= "<%= @exact.present? ? @exact['l2'] : '' %>" >
										</div>
								</div>
						</div>
						<div class="project-fields">
							<div class="row">
								<div class="col-lg-2">
									<%= @workflow.L3 %>
								</div>
									<div class="col-lg-5">
											<input type="text" name="wildcard[l3]" class="form-control"
											value= "<%= @wildcard.present? ? @wildcard['l3'] : '' %>" >
										</div>
										<div class="col-lg-5">
											<input type="text" name="exact[l3]" class="form-control"
											value= "<%= @exact.present? ? @exact['l3'] : '' %>" >
										</div>
								</div>
						</div>
						<div class="project-fields">
							<div class="row">
							  <div class="col-lg-2">
							   <input type="checkbox" class="form-control">
							  </div>
							  <div class="col-lg-8">
							   <label>Show Completed Objects</label>
							  </div>
							</div>

							<div class="row">
							  <div class="col-lg-2">
							   <input type="checkbox" class="form-control">
							  </div>
							  <div class="col-lg-8">
							   <label>Include Cancel Objects</label>
							  </div>
							</div>
						</div>
						<div class="project-fields">
							<div class="row">
								<div class="col-lg-2">
								</div>
									<div class="col-lg-5">
											<input type="submit" value="Search" class="btn save-print-update-edit-btn">
										</div>
										<div class="col-lg-5">
											<a href="/overview/clear_search" data-remote="true" 
											onclick="resetSearchResult();" class="btn btn-danger">Clear</a>
										</div>
								</div>
						</div>
			</div>
		<% end %>  
				<div class="project-btmcnt">
					<div class="project-data-list" id="search_result_div">
						<% if @serach_result.present? %>
							<%= render 'overview/search_result' %>
						<% else %>	
						<div class="row">
					      <div class="col-lg-7">
					      </div>
					      <div class="col-lg-5">
					      	<%= link_to 'Show all from DB', show_all_db_path, :remote => true %>
					     </div>
					    </div>
							<ul class="ia-list">
								<span style="color:green">Search results will be displayed here: </span>
							</ul>
						<% end %>	
					</div>
				</div>
		</div>
	</div>
	<div id="overview_detail">
		<%= render 'overview/project_details' %>
	<div> 


