  <div class='modal-dialog'>
      <div class='modal-content'>
        <%= simple_form_for @l2, remote: true , :html => { :id => "ia_modal_form"}  do |f| %>
        <%= f.error_notification %>
          <div class='modal-header'>
             <button type='button' class='close' data-dismiss='modal'>×</button>
             
                <h1 class='h1-heading-popup'> <%= @action %> <%= @workflow.L2 %> </h1>
           </div>
          <div class='modal-body' id="add_ia_modal_body">
              <%= f.hidden_field :status %>

              <div class="form-inputs">

                <div class= "form-group">
                  <div class="row">
                      <div class="col-lg-4">
                          <label for = "ia_project_id" class=" echo_patinet pull-right control-label"><%=@workflow.L1%>:</label>
                      </div>
                        <div class="col-lg-6">
                          <% if @show_l1s == 'dropdown' %>
                            <%= f.select :l1_id, options_from_collection_for_select(@l1, 'id', 'name'),{prompt: 'please select '+@workflow.L1}, {:class=>'form-control pnd-reqst pull-left', required: true }%>
                          <% else %>
                            <%= f.hidden_field :l1_id, :value => @l1.id %>
                            <span class='pull-left'>
                              <%= @l1.name %>
                            </span>
                          <% end %> 
                        </div>
                   </div>
                </div>

                <div class= "form-group">
                  <div class="row">
                     <div class="col-lg-4">
                         <label for = "ia_name" class="echo_patinet pull-right control-label">Name:</label>
                     </div>
                     <div class="col-lg-6">
                        <%= f.input :name ,:label => false, :input_html =>{id: @show_l1s == 'dropdown' ? '' : 'l2_name'} %>
                     </div>
                     <script type="text/javascript">
                         setTimeout(function(){
                            console.log('l2-modal');
                            $('#l2_name').focus();
                          }, 300);
                     </script>
                   </div>
                </div>

                <div class= "form-group">
                  <div class="row">
                    <div class="col-lg-4">
                       <label for = "ecr_station_id" class="pull-right form-group control-label">BU</label>
                    </div>
                    <div class="col-lg-6">
                      <select id="l3_l2_id" name="l2[business_unit]" class="form-control">
                        <option value="">Please Select BU</option>
                        <option value="THV">THV</option> 
                        <option value="HVT">HVT</option>  
                      </select>
                    </div>
                  </div>
                </div>
                 <div class= "form-group">
                  <div class="row">
                     <div class="col-lg-4">
                       <label for = "ia_name" class="echo_patinet pull-right control-label">Translation:</label>
                     </div>
                     <div class="col-lg-6">
                       <%= f.check_box :translation ,:checked => true, :class => "pull-left control-label"  %>
                     </div>
                   </div>
                 </div>

                  <div class= "form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label for = "ia_name" class="echo_patinet pull-right control-label">Approval/Rejection Date:</label>
                      </div>
                      <div class="col-lg-6">
                        <%= f.datetime_field :requested_date,:value => Time.now.strftime("%m/%d/%Y %I:%M %p"), :label => false , :class => "datetimepicker form-control"%>
                      </div>
                     </div>
                  </div>

                 <% if @attr_list.present? %>
                  <% attr_field_value = ''
                    @attr_list.each do |att| 
                      if @attr_values.present? 
                        attr_value_object = @attr_values.find{|attr_value| attr_value.label_attribute_id == att.id }
                        attr_field_value = attr_value_object.present? ? attr_value_object.value : ''
                      end %>
                    <% if att.field_type == "integer" %>
                      <div class="row">
                         <div class="col-lg-4">
                            <label for="Active" class="pull-right echo_patinet form-group"><%= att.label %>  </label> 
                        </div>
                        <div class="col-lg-6">
                            <input type="number" name=<%= "attr[#{att.id}]" %> <%= att.is_required == true ? 'required' : '' %> class="form-control" value=<%=attr_field_value%> >
                        </div>
                       </div>
                  <% else %>
                    <div class="row">
                      <div class="col-lg-4">
                         <label for="Active" class="pull-right echo_patinet form-group">  <%= att.label %>   </label> 
                      </div>
                    <div class="col-lg-6">
                      <% if att.is_required? %>
                        <%= select_tag "attr[#{att.id}]", options_from_collection_for_select(att.attribute_options, 'value', 'value',attr_field_value), prompt: "please select #{att.label}", :class=>'form-control pnd-reqst pull-left', required: true %> 
                      <% else %>
                        <%= select_tag "attr[#{att.id}]", options_from_collection_for_select(att.attribute_options, 'value', 'value',attr_field_value), prompt: "please select #{att.label}", :class=>'form-control pnd-reqst pull-left'%> 
                      <% end %>
                    </div>
                    </div>
                        
                    <% end %>
                  <% end %>
                  <% end %>

           </div>
          </div>
              <div class="modal-footer">

              <% if @action.include? 'ADD' or @l2.status == '' or @l2.status == 'reject' %>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  <button class="btn save-print-update-edit-btn" name="submit" type="submit" onclick=" return set_l2_status('accept');">Accept</button>
                  <button class="btn reject-btn" name="submit" type="submit" onclick=" return set_l2_status('reject');">REJECT</button>
                <%else %>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  <button class="btn save-print-update-edit-btn" name="submit" type="submit"><%= @action%></button>
                 <%end%>
              </div>
        <% end %>     
      </div>
  </div>

  <%= javascript_include_tag "modal_form" %>



