  <div class='modal-dialog'>
      <div class='modal-content'>
        <%= simple_form_for @l2, remote: true , :html => { :id => "ia_modal_form"}  do |f| %>
        <%= f.error_notification %>
          <div class='modal-header'>
             <button type='button' class='close' data-dismiss='modal'>×</button>
             
                <h1 class='h1-heading-popup'> <%= @action %> IA </h1>
           </div>
          <div class='modal-body' id="add_ia_modal_body">
              <%= f.hidden_field :status %>

              <div class="form-inputs">

                <div class= "form-group">
                  <div class="row">
                      <div class="col-lg-4">
                          <label for = "ia_project_id" class=" echo_patinet pull-right control-label">PROJECT:</label>
                      </div>
                        <div class="col-lg-6">
                          <% if @show_l1s == 'dropdown' %>
                            <%= f.select :l1_id, options_from_collection_for_select(@l1, 'id', 'name'),{prompt: 'please select project'}, {:class=>'form-control pnd-reqst pull-left', required: true }%>
                          <% else %>
                            <%= f.hidden_field :l1_id, :value => @l1.id %>
                            <span class='pull-left'>
                              <%= @l1.name %>
                            </span>
                          <% end %> 
                        </div>
                   </div>
                </div>

                <div class= "form-group">
                  <div class="row">
                     <div class="col-lg-4">
                         <label for = "ia_name" class="echo_patinet pull-right control-label">IA NAME:</label>
                     </div>
                     <div class="col-lg-6">
                        <%= f.input :name ,:label => false, :autofocus=>true %>
                     </div>
                   </div>
                </div>

                 <div class= "form-group">
                  <div class="row">
                     <div class="col-lg-4">
                       <label for = "ia_name" class="echo_patinet pull-right control-label">Translation:</label>
                     </div>
                     <div class="col-lg-6">
                       <%= f.check_box :translation ,:checked => true, :class => "pull-left control-label"  %>
                     </div>
                   </div>
                 </div>

                  <div class= "form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label for = "ia_name" class="echo_patinet pull-right control-label">Approval/Rejection Date:</label>
                      </div>
                      <div class="col-lg-6">
                        <%= f.datetime_field :requested_date,:value => Time.now.strftime("%m/%d/%Y %I:%M %p"), :label => false , :class => "datetimepicker form-control"%>
                      </div>
                     </div>
                  </div>

              </div>
          </div>
              <div class="modal-footer">

              <% if @action == 'ADD' or @l2.status == '' or @l2.status == 'reject' %>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  <button class="btn save-print-update-edit-btn" name="submit" type="submit" onclick=" return set_l2_status('');">SAVE</button>
                  <button class="btn save-print-update-edit-btn" name="submit" type="submit" onclick=" return set_l2_status('accept');">Accept</button>
                  <button class="btn reject-btn" name="submit" type="submit" onclick=" return set_l2_status('reject');">REJECT</button>
                <%else %>
                  <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                  <button class="btn save-print-update-edit-btn" name="submit" type="submit"><%= @action%></button>
                 <%end%>
              </div>
        <% end %>     
      </div>
  </div>

  <%= javascript_include_tag "modal_form" %>



