<h1>Listing ia_list</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Horw</th>
      <th>Inbox date</th>
      <th>Sent date</th>
      <th>Received date</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @l2.each do |l2| %>
      <tr>
        <td>
          <%= l2.name %>
        </td>
        <td>
          <%= l2.translation %>
        </td>
        <td>
          <%= l2.horw %>
        </td>
        <td>
          <%= l2.inbox_date %>
        </td>
        <td>
          <%= l2.sent_date %>
        </td>
        <td>
          <%= l2.received_date %>
        </td>
        <td>
          <%= l2.project_id %>
        </td>
        <td>
          <%= link_to 'Show', l2 %>
        </td>
        <td>
          <%= link_to 'Edit', edit_l2_path(l2) %>
        </td>
        <td>
          <%= link_to 'Destroy', l2, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New ia_list', new_l2_path %>
