<%= simple_form_for @project , remote: true , :html => { :id => "add_project_form"} do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs"> 
  		<%= f.hidden_field :user_id, :value=> current_user.id %>
  		<div class="row">
	         <div class="col-lg-4">
	               <label for= "workflow_dropdown" class="pull-right echo_patinet form-group"> Workflow </label>
	         </div>
	            <div class="col-lg-6" id="workflow_dropdown">
            		<%= f.select :work_flow_id, options_from_collection_for_select(@workflow, 'id', 'name'),{include_blank: false}, :class=>'form-control pnd-reqst pull-left'%>
	            </div>
	   </div>


	   <div class="row">
	         <div class="col-lg-4">
	               <label for= "project_name" class="pull-right echo_patinet form-group"> Project:  </label>
	         </div>
	            <div class="col-lg-6">
	             	 <%= f.input :name,:label => false  %>
	            </div>
	   </div>
	    <div class="row">
	         <div class="col-lg-4">
	               <label for="project_description" class="pull-right echo_patinet form-group"> Description:  </label>
	         </div>
	            <div class="col-lg-6">
	             	 <%= f.input :description,:label => false  %>
	            </div>
	   </div>
	  <div class="row">
	         <div class="col-lg-4">
	               <label for="Active" class="pull-right echo_patinet form-group"> Active:  </label> 
	         </div>
	            <div class="col-lg-6">

	            <%= f.check_box :is_active, :label => false  , :class => "pull-left boolean" ,:checked => true %>

	            </div>
	   </div>
   
  </div>
 
<% end %>
