<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  	<div class= "form-group">
		<div class="row">
	         <div class="col-lg-4">
	               <label for = "project_id" class=" form-group echo_patinet control-label">ID:</label>
	        </div>
            <div class="col-lg-6">
        	 	<%= f.input :id ,:label => false %>
            </div>
	   </div>
	</div>


	   <div class="row">
	         <div class="col-lg-4">
	               <label for= "project_name" class="echo_patinet form-group"> Name:  </label>
	         </div>
	            <div class="col-lg-6">
	             	 <%= f.input :name,:label => false  %>
	            </div>
	   </div>
	    <div class="row">
	         <div class="col-lg-4">
	               <label for="project_description" class="echo_patinet form-group"> Description:  </label>
	         </div>
	            <div class="col-lg-6">
	             	 <%= f.input :description,:label => false  %>
	            </div>
	   </div>
   
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
