<h1>Listing l1s</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Created by</th>
      <th>Updated by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @l1s.each do |l1| %>
      <tr>
        <td>
          <%= l1.id %>
        </td>
        <td>
          <%= l1.name %>
        </td>
        <td>
          <%= l1.description %>
        </td>
        <td>
          <%= l1.created_by %>
        </td>
        <td>
          <%= l1.updated_by %>
        </td>
        <td>
          <%= link_to 'Show', l1 %>
        </td>
        <td>
          <%= link_to 'Edit', edit_l1_path(l1) %>
        </td>
        <td>
          <%= link_to 'Destroy', l1, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New L1', new_l1_path %>
