<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Id:</b>
  <%= @l1.id %>
</p>
<p>
  <b>Name:</b>
  <%= @l1.name %>
</p>
<p>
  <b>Description:</b>
  <%= @l1.description %>
</p>

<%= link_to 'Edit', edit_l1_path(@l1) %>
\|
<%= link_to 'Back', l1s_path %>
