<div class='modal-dialog'>
    <div class='modal-content'>
        <%= simple_form_for @l3 , remote: true , :html => { :id =>  "add_edit_ecr_form"} do |f| %>
        <%= f.error_notification %>
      <div class='modal-header'>
         <button type='button' class='close' data-dismiss='modal'>×</button>
            <h1 class='h1-heading-popup'> <%=  @action %>   </h1>
      </div>
      <div class='modal-body' id="add_ecr_modal_body">
        <div class="form-inputs">
  
          <div class= "form-group">
            <div class="row">
              <div class="col-lg-4">
                 <label for = "ecr_station_id" class="pull-right form-group echo_patinet control-label"><%= @label_name.name.upcase %>:</label>
              </div>
              <div class="col-lg-6">
                <% if @show_projects == 'dropdown' %>
                  <%= f.select :l2_id, options_from_collection_for_select(@l2, 'id', 'name'),{prompt: 'Please Select L2'}, {:class=>'form-control', required: true } %>
                <% else %>
                <%= f.hidden_field :l2_id, :value => @l2.id %>
                <span class= "pull-left">
                  <%= @l2.name %>
                  </span>
                <% end %> 
              </div>
            </div>
          </div>

          <div class= "form-group">
            <div class="row">
               <div class="col-lg-4">
                   <label for = "ecr_name" class="pull-right form-group echo_patinet control-label">NAME:</label>
              </div>
              <div class="col-lg-6">
                <%= f.input :name ,:label => false,  :input_html =>{id: @show_projects == 'dropdown' ? '' : 'l3_name'} %>
              </div>
                 <script type="text/javascript">
                   setTimeout(function(){
                      console.log('l3-modal');
                      $('#l3_name').focus();
                    }, 400);
                 </script>
            </div>
          </div>

      
            <% @attr_list.each do |a| %>
            <% if a.field_type == "integer" %>
              <div class="row">
                    <div class="col-lg-4">
                         <label for="Active" class="pull-right echo_patinet form-group"> <%= a.label %>: </label> 
                    </div>
                      <div class="col-lg-6">
                      <input type="number" name=<%= "attr[#{a.id}]" %>
                      class="form-control" >
                      </div>
                </div>
            <% else %>
              <div class="row">
                    <div class="col-lg-4">
                         <label for="Active" class="pull-right echo_patinet form-group"> <%= a.label %>: </label> 
                    </div>
                      <div class="col-lg-6">
                       <select class="form-control" name=<%= "attr[#{a.id}]" %> >
                          <% a.attribute_list_options.each do |b| %>
                      <option><%= b.value %></option>
                    <% end %>
                  </select>
                      </div>
                 </div>
                        
                <% end %>
            <% end %>





      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
      <button class="btn save-print-update-edit-btn" type="submit" >
        <%= @btn_action %>
      </button>
    </div>
  <% end %>
</div>
</div>

 <%= javascript_include_tag "modal_form" %>








