<h1>Listing l3s</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>User</th>
      <th>Status</th>
      <th>Note</th>
      <th>Station</th>
      <th>Status start</th>
      <th>Rework of</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @l3s.each do |l3| %>
      <tr>
        <td>
          <%= l3.id %>
        </td>
        <td>
          <%= l3.name %>
        </td>
        <td>
          <%= l3.user_id %>
        </td>
        <td>
          <%= l3.status %>
        </td>
        <td>
          <%= l3.note %>
        </td>
        <td>
          <%= l3.station_id %>
        </td>
        <td>
          <%= l3.status_start %>
        </td>
        <td>
          <%= l3.rework_of %>
        </td>
        <td>
          <%= link_to 'Show', l3 %>
        </td>
        <td>
          <%= link_to 'Edit', edit_l3_path(l3) %>
        </td>
        <td>
          <%= link_to 'Destroy', l3, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Ecr', new_l3_path %>
