<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Id:</b>
  <%= @archive.id %>
</p>
<p>
  <b>Ecr:</b>
  <%= @archive.ecr_id %>
</p>
<p>
  <b>Stored on:</b>
  <%= @archive.stored_on %>
</p>
<p>
  <b>User:</b>
  <%= @archive.user_id %>
</p>
<p>
  <b>Number of component:</b>
  <%= @archive.number_of_component %>
</p>
<p>
  <b>Updated by:</b>
  <%= @archive.updated_by %>
</p>
<p>
  <b>Orignal value:</b>
  <%= @archive.orignal_value %>
</p>
<%= link_to 'Edit', edit_archive_path(@archive) %>
\|
<%= link_to 'Back', archives_path %>
