<h1>Listing rework_infos</h1>
<table>
  <thead>
    <tr>
      <th>Collab name</th>
      <th>Time stamp</th>
      <th>User</th>
      <th>Station</th>
      <th>Reason</th>
      <th>Comp number</th>
      <th>Type</th>
      <th>Ecr</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rework_infos.each do |rework_info| %>
      <tr>
        <td>
          <%= rework_info.collab_name %>
        </td>
        <td>
          <%= rework_info.time_stamp %>
        </td>
        <td>
          <%= rework_info.user_id %>
        </td>
        <td>
          <%= rework_info.station_id %>
        </td>
        <td>
          <%= rework_info.reason %>
        </td>
        <td>
          <%= rework_info.comp_number %>
        </td>
        <td>
          <%= rework_info.type %>
        </td>
        <td>
          <%= rework_info.ecr_id %>
        </td>
        <td>
          <%= link_to 'Show', rework_info %>
        </td>
        <td>
          <%= link_to 'Edit', edit_rework_info_path(rework_info) %>
        </td>
        <td>
          <%= link_to 'Destroy', rework_info, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Rework info', new_rework_info_path %>
