<%= link_to 'Add New User', new_admin_user_path, class: 'add_new_user btn save-print-update-edit-btn' %>
<%= link_to 'Deleted Users', deleted_user_admin_users_path, class: 'add_new_user btn save-print-update-edit-btn' %>

<h1>Listing Users</h1>

<table id="admin_user_list" class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Is Admin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <input type="checkbox" onchange="toggleAdmin(this, <%= user.id %>);" <%= user.is_admin ? 'checked' : ''  %> />
        </td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Delete', delete_admin_user_path(user), onclick: 'confirm_action(event);' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style type="text/css">
.container {
    background-color: #fff;
}
</style>
