<h1>Listing ia_list</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Translation</th>
      <th>Horw</th>
      <th>Inbox date</th>
      <th>Sent date</th>
      <th>Received date</th>
      <th>Project</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ia_list.each do |ia_list| %>
      <tr>
        <td>
          <%= ia_list.name %>
        </td>
        <td>
          <%= ia_list.translation %>
        </td>
        <td>
          <%= ia_list.horw %>
        </td>
        <td>
          <%= ia_list.inbox_date %>
        </td>
        <td>
          <%= ia_list.sent_date %>
        </td>
        <td>
          <%= ia_list.received_date %>
        </td>
        <td>
          <%= ia_list.project_id %>
        </td>
        <td>
          <%= link_to 'Show', ia_list %>
        </td>
        <td>
          <%= link_to 'Edit', edit_ia_list_path(ia_list) %>
        </td>
        <td>
          <%= link_to 'Destroy', ia_list, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New ia_list', new_ia_list_path %>
