<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @ia_list.name %>
</p>
<p>
  <b>Translation:</b>
  <%= @ia_list.translation %>
</p>
<p>
  <b>Horw:</b>
  <%= @ia_list.horw %>
</p>
<p>
  <b>Inbox date:</b>
  <%= @ia_list.inbox_date %>
</p>
<p>
  <b>Sent date:</b>
  <%= @ia_list.sent_date %>
</p>
<p>
  <b>Received date:</b>
  <%= @ia_list.received_date %>
</p>
<p>
  <b>Project:</b>
  <%= @ia_list.project_id %>
</p>
<%= link_to 'Edit', edit_ia_list_path(@ia_list) %>
\|
<%= link_to 'Back', ia_list_path %>
