<div class="handoff-report-data" id ="handoff_report_data">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= @workflow.L1 %></th>
        <th><%= @workflow.L2 %></th>
        <th><%= @workflow.L3 %></th>
        
        <th>Station</th>
        <th>Step</th>
        <th>Step Completed</th>
        <th>Estimated Completion</th>
        <th>#Comp</th>
      </tr>
    </thead>

  <tbody>
      <% @report_l1s.each do |l1| %>
        <tr>
          <td>
            <%= link_to l1.name, open_info_modal_l1_path(l1.id,'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
            <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
              <%= hidden_field_tag 'object_type', 'L1' %>
              <%= hidden_field_tag 'object_id', l1.id %>
              <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                  <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            <% end %>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <% l1.l2s.where(id: [@l2_list]).each do |l2| %>
            <tr>
              <td></td>
              <td>
                <%= link_to l2.name, open_info_modal_l2_path(l2.id,'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                  <%= hidden_field_tag 'object_type', 'L2' %>
                  <%= hidden_field_tag 'object_id', l2.id %>
                  <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                      <span class="glyphicon glyphicon-new-window"></span>
                  <% end %>
                <% end %>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            
        <% l2.l3s.where(id: [@l3_list]).each do |l3| %>
          <% wf_live_step = l3.get_farthest_to_the_right_confirmation(l3.id) %>
              <tr>
                <td></td>
                <td></td>
                <td>                  
                  <%= link_to l3.name, open_info_modal_l3_path(l3.id,'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                  <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                  <%= hidden_field_tag 'object_type', 'L3' %>
                  <%= hidden_field_tag 'object_id', l3.id %>
                  <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                    <span class="glyphicon glyphicon-new-window"></span>
                    <% end %>
                  <% end %>
                </td>
                <td><%= wf_live_step.station_step.workflow_station.station_name %></td>
                <td><%= wf_live_step.station_step.step_name %></td>
                
                <% if wf_live_step.actual_confirmation.present? %>
                  <td><%= wf_live_step.actual_confirmation.strftime("%m/%d/%Y %I:%M %p") %></td>
                  <td></td>
                <%elsif wf_live_step.eta.present? %>
                  <td></td>
                  <td><%= wf_live_step.eta.strftime("%m/%d/%Y %I:%M %p") %></td>
                <%else%>
                  <td></td>
                  <td></td>
                <%end%>

                <td><%= l3.num_component %></td>
              </tr>
          <% end %>    
        <% end %>

      <% end %>  
    </tbody>

  </table>
</div>

  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style>  

  <%= javascript_include_tag "reports" %> 

