<div class="handoff-report-data" id ="handoff_report_data">
  <table id = "entire_history_report" class="table table-bordered">
  <% if @task_confirmation.present? %> 
    <thead>
      <tr>
        <th><%= @workflow.L1 %></th>
        <th><%= @workflow.L2 %></th>
        <th><%= @workflow.L3 %></th>
        <th>DATE</th>
        <th>Station</th>
        <th>Step</th>
        <th>#Comp</th>
      </tr>
    </thead>

    <tbody>
      <% if @serach_result.present?
          l2_name = ''
          l1_name = ''
          l1_list = ''
          l2_list = ''
          l3_list = ''
          @serach_result.each do |result|
              if l1_name != result['l1_name']
                l1_name = result['l1_name'] 
                @l1_results = @report_serach_result.select{|report| report['object_type'] == 'L1' and report['l1_id'] == result['l1_id'] }%>
                <tr>
                  <td>
                    <%= link_to result['l1_name'], open_info_modal_l1_path(result['l1_id']),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                    <a href="/" aria-hidden="true" class="glyphicon glyphicon-new-window"></a> 
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
             <% end

              if l2_name != result['l2_name'] && result['l2_id'].presence
                l2_name = result['l2_name'] 
                @l2_results = WorkFlow.do_search_report(@report_serach_result, 'L2', result['l2_id'], 'l2_id')
                if @l2_results.present?
                   @l2_results.each do |l2_result| %>
                    <tr>
                      <td><%= l2_result['l1_name'] %></td>
                      <td>
                        <%= link_to l2_result['l2_name'], open_info_modal_l2_path(l2_result['l2_id']),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                        <a href="/" aria-hidden="true" class="glyphicon glyphicon-new-window"></a> 
                      </td>
                      <td></td>
                      <td><%= l2_result['actual_confirmation'].strftime("%m/%d/%y %I:%M %p") %></td>
                      <td><%= l2_result['step'] %></td>
                      <td><%= l2_result['station'] %></td>
                      <td><%= l2_result['l2_num_component'] %></td>

                    </tr>
                  <% end 
                end 
             end 

              if result['l3_id'].presence 
                @l3_results = WorkFlow.do_search_report(@report_serach_result, 'L3', result['l3_id'], 'l3_id')
                if @l3_results.present?
                   @l3_results.each do |l3_result| %>
                    <tr>
                      <td><%= l3_result['l1_name'] %></td>
                      <td><%= l3_result['l2_name'] %></td>
                      <td>
                        <%= link_to l3_result['l3_name'], open_info_modal_l3_path(l3_result['l3_id']),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                        <a href="/" aria-hidden="true" class="glyphicon glyphicon-new-window"></a> 
                      </td>
                      <td><%= l3_result['actual_confirmation'].strftime("%m/%d/%y %I:%M %p") %></td>
                      <td><%= l3_result['step'] %></td>
                      <td><%= l3_result['station'] %></td>
                      <td><%= l3_result['l3_num_component'] %></td>
                    </tr>
                   <% end 
                end 
              end 
            end
        end %>
 
    </tbody>

  </table>
  <%else %>
    <div class="alert alert-info"> No Task Confirmations found </a>
  <% end %>
</div>

  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style> 

  <%= javascript_include_tag "reports" %>    

