<div class="handoff-report-data" id ="handoff_report_data">
  <% if @report_serach_result.present? %>
    <table class="table table-bordered">
      <thead>
          <tr class="main_heading">
          <th></th>
          <th></th>
          <th></th>
          <% @filtered_station_steps.each do |filtered_station_step| %>
            <th style="width: 110px;" ><%= filtered_station_step.station_step.workflow_station.station_name %></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <tr class="sub_heading">
          <th><%= @workflow.L1 %></th>
          <th><%= @workflow.L2 %></th>
          <th><%= @workflow.L3 %></th>
          <% @filtered_station_steps.each do |filtered_station_step| %>
            <th style="width: 110px;" ><%= filtered_station_step.station_step.step_name %></th>
          <% end %>
          <th>#Comp</th>
          <th>Comp. Type</th>
          <th>BU</th>
          <th>#Lang</th>
          <th>Status</th>
          <th>Horw</th>
        </tr>
      </thead>

      <tbody>
      <% if @serach_result.present?
          l2_name = ''
          l1_name = ''
          l1_list = ''
          l2_list = ''
          l3_list = ''
          @serach_result.each do |result|
              if l1_name != result['l1_name']
                l1_name = result['l1_name'] %>
                <tr>
                  <td>
                    <%= link_to result['l1_name'], open_info_modal_l1_path(result['l1_id'],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                    <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                    <%= hidden_field_tag 'object_type', 'L1' %>
                    <%= hidden_field_tag 'object_id', result['l1_id'] %>
                    <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                        <span class="glyphicon glyphicon-new-window"></span>
                    <% end %>
                  <% end %>
                  </td>
                  <td></td>
                  <td></td>
                  <% @filtered_station_steps.each do |filtered_station_step| 
                    @timestamp = WorkFlow.get_time_stamp(@report_serach_result, 'L1', result['l1_id'], 'l1_id', filtered_station_step.station_step_id)%>
                    <td class="<%=@timestamp[1]%>" ><%= @timestamp[0].html_safe %></td>
                  <% end %>
                  <% object_attributes_data = WorkFlow.object_attributes(result['l1_id'], 'L1') 
                    l1_comp_type = WorkFlow.get_object_attribute_value(object_attributes_data, 'Comp Type')
                    l1_nm_lang = WorkFlow.get_object_attribute_value(object_attributes_data, '#Lang')
                    l1_horw = WorkFlow.get_object_attribute_value(object_attributes_data, 'Horw')
                    work_live_step = WorkFlow.get_work_live_step(@report_serach_result, 'L1', result['l1_id'], 'l1_id')
                    l1_num_component = ''
                    l1_bu = ''
                    l1_status = ''
                    if work_live_step.present?
                      l1_num_component = work_live_step['l1_num_component']
                      l1_bu = work_live_step['l1_bu']
                      l1_status = work_live_step['l1_status']
                    end
                  %>
                  <td><%= l1_num_component %></td>
                  <td><%= l1_comp_type %></td>
                  <td><%= l1_bu %></td>
                  <td><%= l1_nm_lang %></td>
                  <td><%= l1_status %></td>
                  <td><%= l1_horw %></td>
                </tr>
             <%end

              if l2_name != result['l2_name'] && result['l2_id'].presence
                l2_name = result['l2_name'] %>
                <tr>
                  <td></td>
                  <td>
                    <%= link_to result['l2_name'], open_info_modal_l2_path(result['l2_id'],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                    <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                    <%= hidden_field_tag 'object_type', 'L2' %>
                    <%= hidden_field_tag 'object_id', result['l2_id'] %>
                    <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                        <span class="glyphicon glyphicon-new-window"></span>
                    <% end %>
                  <% end %>
                  </td>
                  <td></td>
                  <% @filtered_station_steps.each do |filtered_station_step| 
                    @timestamp = WorkFlow.get_time_stamp(@report_serach_result, 'L2', result['l2_id'], 'l2_id', filtered_station_step.station_step_id)%>
                    <td class="<%=@timestamp[1]%>" ><%= @timestamp[0].html_safe %></td>
                  <% end %>
                  <% object_attributes_data = WorkFlow.object_attributes(result['l2_id'], 'L2') 
                    l2_comp_type = WorkFlow.get_object_attribute_value(object_attributes_data, 'Comp Type')
                    l2_nm_lang = WorkFlow.get_object_attribute_value(object_attributes_data, '#Lang')
                    l2_horw = WorkFlow.get_object_attribute_value(object_attributes_data, 'Horw')
                    work_live_step = WorkFlow.get_work_live_step(@report_serach_result, 'L2', result['l2_id'], 'l2_id')
                    l2_num_component = ''
                    l2_bu = ''
                    l2_status = ''
                    if work_live_step.present?
                      l2_num_component = work_live_step['l2_num_component']
                      l2_bu = work_live_step['l2_bu']
                      l2_status = work_live_step['l2_status']
                    end

                  %>
                  <td><%= l2_num_component %></td>
                  <td><%= l2_comp_type %></td>
                  <td><%= l2_bu %></td>
                  <td><%= l2_nm_lang %></td>
                  <td><%= l2_status %></td>
                  <td><%= l2_horw %></td>
                </tr>
            <% end 
              if result['l3_id'].presence %>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <%= link_to result['l3_name'], open_info_modal_l3_path(result['l3_id'],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                    <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                    <%= hidden_field_tag 'object_type', 'L3' %>
                    <%= hidden_field_tag 'object_id', result['l3_id'] %>
                    <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                        <span class="glyphicon glyphicon-new-window"></span>
                    <% end %>
                  <% end %>
                  </td>
                  <% @filtered_station_steps.each do |filtered_station_step| 
                    @timestamp = WorkFlow.get_time_stamp(@report_serach_result, 'L3', result['l3_id'], 'l3_id', filtered_station_step.station_step_id)%>
                    <td class="<%=@timestamp[1]%>" ><%= @timestamp[0].html_safe %></td>
                  <% end %>
                  <% object_attributes_data = WorkFlow.object_attributes(result['l3_id'], 'L3') 
                    l3_comp_type = WorkFlow.get_object_attribute_value(object_attributes_data, 'Comp Type')
                    l3_nm_lang = WorkFlow.get_object_attribute_value(object_attributes_data, '#Lang')
                    l3_horw = WorkFlow.get_object_attribute_value(object_attributes_data, 'Horw')
                    work_live_step = WorkFlow.get_work_live_step(@report_serach_result, 'L3', result['l3_id'], 'l3_id')
                    l3_num_component = ''
                    l3_bu = ''
                    l3_status = ''
                    if work_live_step.present?
                      l3_num_component = work_live_step['l3_num_component']
                      l3_bu = work_live_step['l3_bu']
                      l3_status = work_live_step['l3_status']
                    end
                  %>
                  <td><%= l3_num_component %></td>
                  <td><%= l3_comp_type %></td>
                  <td><%= l3_bu %></td>
                  <td><%= l3_nm_lang %></td>
                  <td><%= l3_status %></td>
                  <td><%= l3_horw %></td>
                </tr>
                <%end
            end
        end %>  
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info"> No Result Found! </a>
  <% end %>
</div>

  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style>

  <%= javascript_include_tag "reports" %>   