<div class="handoff-report-data" id ="handoff_report_data">
  <% if @serach_result.present? %>
    <table class="table table-bordered handOffReportTable">
      <thead>
          <tr class="main_heading">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <% @filtered_station_steps.each do |filtered_station_step| %>
            <th style="width: 110px;" ><%= filtered_station_step.station_step.workflow_station.station_name %></th>
          <% end %>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <tr class="sub_heading">
          <th><%= @workflow.L1 %></th>
          <th><%= @workflow.L2 %></th>
          <th><%= @workflow.L3 %></th>
          <th>Status</th>
          <% @filtered_station_steps.each do |filtered_station_step| 
            pred_name = StationStep.get_step_predecessors(filtered_station_step.predecessors, @stationSteps) %>
            <th style="width: 110px;" 
            title="Days: <%=filtered_station_step.duration_days.present? ? filtered_station_step.duration_days : 0 %>&#013;&#013;Predecessors: <%=pred_name%>">
              <%= filtered_station_step.station_step.step_name %></th>
          <% end %>
          <th>#Comp</th>
          <th>Comp. Type</th>
          <th>BU</th>
          <th>#Lang</th>
          <th>Horw</th>
          <th>IA Hold Reason</th>
          <th>ECR Hold dReason</th>
        </tr>
      </thead>

      <tbody>
      <% if @serach_result.present?
          l3_name = ''
          l2_name = ''
          l1_name = ''
          l1_list = ''
          l2_list = ''
          l3_list = ''
          @serach_result.each do |result|
              if l1_name != result[0]
                l1_name = result[0] 
                 %>
                  <tr style="background-color:lightyellow">
                    <td colspan="3" title="<%= @workflow.L1 %>">
                      <%= link_to open_info_modal_l1_path(result[29],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} do %>
                        <%=result[0]%>
                        <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                        <%= hidden_field_tag 'object_type', 'L1' %>
                        <%= hidden_field_tag 'object_id', result[29] %>
                        <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                            <span class="glyphicon glyphicon-new-window"></span>
                        <% end %>
                      <% end %>
                    <% end %>
                    </td>

                    <td title="Status"><%= result[1] %></td>
                    <% @filtered_station_steps.each do |filtered_station_step| %>
                      <td></td>
                    <% end %>
                    <td title="Number of Comp."></td>
                    <td title="Component Type"></td>
                    <td title="Business Unit"></td>
                    <td title="Number of Lang."></td>
                    <td title="Horw"></td>
                    <td></td>
                    <td></td>
                  </tr>
             <% end
             if l2_name != result[3] && result[30].presence
                l2_name = result[3] %>
                  <tr>
                    <td title="<%= @workflow.L1 %>"></td>
                    <td colspan="2" title="<%= @workflow.L2 %>">
                      <%= link_to result[3], open_info_modal_l2_path(result[30],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                      <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                      <%= hidden_field_tag 'object_type', 'L2' %>
                      <%= hidden_field_tag 'object_id', result[30] %>
                      <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                          <span class="glyphicon glyphicon-new-window"></span>
                      <% end %>
                    <% end %>
                    </td>
                    <td title="Status"><%= result[4] %></td>
                    <%
                      table_td_class = ''
                      ia_approved_date = ''
                      if result[14].presence
                        ia_approved_date_parsed = DateTime.parse(result[14].to_s) rescue nil
                        if ia_approved_date_parsed
                          ia_approved_date = ia_approved_date_parsed.strftime("%m/%d/%y")
                          table_td_class = 'report_actual_confirmation'
                        end
                      end
                    %>
                    <td class="<%=table_td_class%>"><%= ia_approved_date %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td title="Number of Comp." ><%= result[7] %></td>
                    <td title="Component Type"></td>
                    <td title="Business Unit"><%= result[6] %></td>
                    <td title="Number of Lang."></td>
                    <td title="Horw"><%= result[22] %></td>
                    <%  onHoldReason = ''
                       if result[4].presence
                          if  result[4].downcase == 'onhold'
                           onHoldReason =  WorkFlow.getOnHoldReason(@reason_codes, result[26])
                          end 
                        end %>
                    <td><%=onHoldReason%></td>
                    <td></td>
                  </tr>
            <% end 
              if result[31].presence
               if l3_name != result[8].split('-R')[0]
                  l3_name = result[8].split('-R')[0]

                  all_l3s = @serach_result.select{|l3s| l3s[9].presence}
                  curr_l3_with_partials = all_l3s.select{|cur_l3| cur_l3[8].split('-R')[0] == l3_name}

                  l3_status = WorkFlow.get_rollUp_l3_status(curr_l3_with_partials) %>
                  <tr>
                    <td title="<%= @workflow.L1 %>"></td>
                    <td title="<%= @workflow.L2 %>">
                    <td title="<%= @workflow.L3 %>">
                      <%= link_to result[8].split('-R')[0], open_info_modal_l2_path(result[31],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                      <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                      <%= hidden_field_tag 'object_type', 'L2' %>
                      <%= hidden_field_tag 'object_id', result[31] %>
                      <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                          <span class="glyphicon glyphicon-new-window"></span>
                      <% end %>
                    <% end %>
                    </td>
                    <td title="Status"><%= l3_status[0] %></td>
                    <%
                      table_td_class = ''
                      ecr_inbox_date = ''
                      ecr_inbox_date_for_succer = ''
                      if result[15].presence
                        ecr_inbox_date_parsed = DateTime.parse(result[15].to_s) rescue nil
                        if ecr_inbox_date_parsed
                          ecr_inbox_date = ecr_inbox_date_parsed.strftime("%m/%d/%y")
                          table_td_class = 'report_actual_confirmation'
                          ecr_inbox_date_for_succer = ecr_inbox_date_parsed
                        end
                      end

                      sent_to_collab = WorkFlow.get_rollUp_l3_timestamps(curr_l3_with_partials, 16, ecr_inbox_date_for_succer, @workflow, 2, @holidays)
                      station8_sent = WorkFlow.get_rollUp_l3_timestamps(curr_l3_with_partials, 18, ecr_inbox_date_for_succer, @workflow, 2, @holidays)
                      crb_started = WorkFlow.get_rollUp_l3_crb_started_timestamps(curr_l3_with_partials, 19,20, sent_to_collab[2],station8_sent[2] , @workflow, 8, 3, @holidays)
                      crb_released = WorkFlow.get_rollUp_l3_timestamps(curr_l3_with_partials, 21, crb_started[2], @workflow, 6, @holidays)

                    %>

                    <td></td>
                    <td class="<%=table_td_class%>"><%= ecr_inbox_date %></td>
                    <td class="<%= sent_to_collab[1] %>"><%= sent_to_collab[0] %></td>
                    <td class="<%= station8_sent[1] %>"><%= station8_sent[0] %></td>
                    <td class="<%= crb_started[1] %>"><%= crb_started[0] %></td>
                    <td class="<%= crb_released[1] %>"><%= crb_released[0] %></td>

                    <td title="Number of Comp." ><%= result[11] %></td>
                    <td title="Component Type"><%= result[24] %></td>
                    <td title="Business Unit"></td>
                    <td title="Number of Lang."><%= result[23] %></td>
                    <td title="Horw"></td>
                    <%  l3onHoldReason = ''
                       if l3_status[0].presence
                          if  l3_status[0].downcase == 'onhold'
                           l3onHoldReason =  WorkFlow.getL3OnHoldReason(@reason_codes, l3_status[1])
                          end 
                        end %>
                    <td></td>
                    <td><%=l3onHoldReason%></td>
                  </tr>

            <%  end
              end 
            end
        end %>  
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info"> No Result Found! </a>
  <% end %>
</div>

  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style>

  <%= javascript_include_tag "reports" %>   