<div class="handoff-report-data" id ="handoff_report_data">
  <% if @serach_result.present? %>
    <table class="table table-bordered handOffReportTable">
      <thead>
        <tr class="sub_heading">
          <th><%= @workflow.L1 %></th>
          <th><%= @workflow.L2 %></th>
          <th><%= @workflow.L3 %></th>
          <th>Status</th>

           <%
            ia_pred_name = '' #StationStep.get_step_predecessors(@pred_of_ia_approved, @stationSteps)
            ecr_pred_name = '' #StationStep.get_step_predecessors(@pred_of_ecr_inbox, @stationSteps)
            collab_pred_name = "\n*ECR Inbox" #StationStep.get_step_predecessors(@pred_of_sent_to_collab, @stationSteps)
            sent8_pred_name = "\n*To Collab/Legal" #StationStep.get_step_predecessors(@pred_of_station8_sent, @stationSteps)
            crb_pred_name = "\n*To Collab/Legal \n*To Horw"
            ecn_pred_name = "\n*To CRB" #StationStep.get_step_predecessors(@pred_of_ecn_released, @stationSteps)
           %>   

          <th style="width: 110px;" title="Days: <%=@days_at_ia_approved %>&#013;&#013;Predecessors: <%=ia_pred_name%>">
            IA Approved
          </th>
          <th style="width: 110px;" title="Days: <%=@days_at_ecr_inbox %>&#013;&#013;Predecessors: <%=ecr_pred_name%>">
            ECR Inbox
          </th>
          <th style="width: 110px;" title="Days: <%=@days_at_sent_to_collab %>&#013;&#013;Predecessors: <%=collab_pred_name%>">
            To Collab/Legal
          </th>
          <th style="width: 110px;" title="Days: <%=@days_at_station8_sent %>&#013;&#013;Predecessors: <%=sent8_pred_name%>">
            To Horw
          </th>
          <th style="width: 110px;" title="Days: <%=@days_at_crb_started %>&#013;&#013;Predecessors: <%=crb_pred_name%>">
            To CRB
          </th>
          <th style="width: 110px;" title="Days: <%=@days_at_ecn_released %>&#013;&#013;Predecessors: <%=ecn_pred_name%>">
            ECN Release
          </th>
          <th>#Comp</th>
          <th>Comp. Type</th>
          <th>BU</th>
          <th>#Lang</th>
          <th>Horw</th>
          <th id="reason">Hold Reason</th>
        </tr>
      </thead>

      <tbody>
      <% if @serach_result.present?
          l3_name = ''
          l2_name = ''
          l1_name = ''
          l1_list = ''
          l2_list = ''
          l3_list = ''
          @serach_result.each do |result|
              if l1_name != result[0]
                l1_name = result[0] 
                 %>
                  <tr style="background-color:lightyellow">
                    <td colspan="3" title="<%= @workflow.L1 %>">
                        <%= link_to result[0], open_info_modal_l1_path(result[31],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>

                        <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                        <%= hidden_field_tag 'object_type', 'L1' %>
                        <%= hidden_field_tag 'object_id', result[31] %>
                          <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                              <span class="glyphicon glyphicon-new-window"></span>
                          <% end %>
                        <% end %>
                    </td>

                    <td title="Status"><%= result[1] %></td>
                    <% @filtered_station_steps.each do |filtered_station_step| %>
                      <td></td>
                    <% end %>
                    <td title="Number of Comp."></td>
                    <td title="Component Type"></td>
                    <td title="Business Unit"></td>
                    <td title="Number of Lang."></td>
                    <td title="Horw"></td>
                    <td title="Hold Reason"></td>
                  </tr>
             <% end
             if l2_name != result[3] && result[32].presence
                l2_name = result[3] %>
                  <tr>
                    <td title="<%= @workflow.L1 %>"></td>
                    <td colspan="2" title="<%= @workflow.L2 %>">
                      <%= link_to result[3], open_info_modal_l2_path(result[32],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                      <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                      <%= hidden_field_tag 'object_type', 'L2' %>
                      <%= hidden_field_tag 'object_id', result[32] %>
                      <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                          <span class="glyphicon glyphicon-new-window"></span>
                      <% end %>
                    <% end %>
                    </td>
                    <td title="Status"><%= result[4] %></td>
                    <%
                      table_td_class_ia = ''
                      ia_approved_date = ''
                      if result[14].presence
                        ia_approved_date_parsed = DateTime.parse(result[14].to_s) rescue nil
                        if ia_approved_date_parsed
                          ia_approved_date = ia_approved_date_parsed.strftime("%m/%d/%y")
                          table_td_class_ia = 'report_actual_confirmation'
                        end
                      end
                    %>
                    <td title="IA Approval - IA Approved" class="<%=table_td_class_ia%>"><%= ia_approved_date %></td>

                    <%
                      table_td_class = ''
                      ecr_inbox_date = ''
                      ecr_inbox_date_for_succer = ''
                      if result[15].presence
                        ecr_inbox_date_parsed = DateTime.parse(result[15].to_s) rescue nil
                        if ecr_inbox_date_parsed
                          ecr_inbox_date = ecr_inbox_date_parsed.strftime("%m/%d/%y")
                          table_td_class = 'report_actual_confirmation'
                          ecr_inbox_date_for_succer = ecr_inbox_date_parsed
                        end
                      end %>
                    <td title="ECR - INBOX" class="<%=table_td_class%>"><%= ecr_inbox_date %></td>
                    <td title="Collaboration - Sent to Collab."></td>
                    <td title="Station 8 - Sent"></td>
                    <td title="CRB - CRB Started"></td>
                    <td title="CRB - ECR Released"></td>

                    <td title="Number of Comp." ><%= result[7] %></td>
                    <td title="Component Type"></td>
                    <td title="Business Unit"><%= result[6] %></td>
                    <td title="Number of Lang."></td>
                    <td title="Horw"><%= result[24] %></td>
                    <%  onHoldReason = ''
                       if result[4].presence
                          if  result[4].downcase == 'onhold'
                           onHoldReason =  WorkFlow.getOnHoldNewReason(result[28])
                          end 
                        end %>
                    <td title="Hold Reason"><%=onHoldReason%></td>
                  </tr>
            <% end 
              if result[33].presence
               if l3_name != result[8].split('-R')[0]
                  l3_name = result[8].split('-R')[0]

                  all_l3s = @serach_result.select{|l3s| l3s[9].presence}
                  curr_l3_with_partials = all_l3s.select{|cur_l3| cur_l3[8].split('-R')[0] == l3_name}
                  currentParentRecord = curr_l3_with_partials.select{|main_l3| main_l3[13] == nil}
                  numb_comp_in_main_record = ''
                  if currentParentRecord.present?
                    current_main_record = currentParentRecord.first
                    numb_comp_in_main_record = current_main_record[11]
                  end
                  l3_status = WorkFlow.get_rollUp_l3_status_new(curr_l3_with_partials) %>
                  <%if @report_include_completed == 'report_include_completed' or (@report_include_completed != 'report_include_completed' &&  l3_status[0].to_s.downcase != 'closed') %>
                    <tr>
                      <td title="<%= @workflow.L1 %>"></td>
                      <td title="<%= @workflow.L2 %>">
                      <td title="<%= @workflow.L3 %>">
                        <%= link_to result[8].split('-R')[0], open_info_modal_l3_path(result[33],'report_info'),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#info_modal_popup'} %>
                        <%= form_tag reports_to_overview_path, :class => 'link_to_main_page' do %>
                        <%= hidden_field_tag 'object_type', 'L3' %>
                        <%= hidden_field_tag 'object_id', result[33] %>
                        <%= button_tag(type: "submit", class: "btn report_main_link") do %>
                            <span class="glyphicon glyphicon-new-window"></span>
                        <% end %>
                      <% end %>
                      </td>
                      <td title="Status"><%= l3_status[0] %></td>
                      <%
                        ecr_inbox_date_for_succer2 = ''
                        if result[15].presence
                          ecr_inbox_date_parsed = DateTime.parse(result[15].to_s) rescue nil
                          if ecr_inbox_date_parsed
                            ecr_inbox_date_for_succer2 = ecr_inbox_date_parsed
                          end
                        end 

                        sent_to_collab = WorkFlow.get_rollUp_l3_timestamps_to_collab_legal(curr_l3_with_partials, 16, ecr_inbox_date_for_succer2, @workflow, @days_at_ecr_inbox, @holidays, result[7], l3_status[0])

                        station8_sent = WorkFlow.get_rollUp_l3_station8_timestamps_new(curr_l3_with_partials, 20, sent_to_collab[2], @workflow, @days_at_sent_to_collab, @holidays, numb_comp_in_main_record, 34, l3_status[0])

                        crb_started = WorkFlow.get_rollUp_l3_crb_started_timestamps_new(curr_l3_with_partials, 21,22,sent_to_collab[2],station8_sent[2] , @workflow, @days_at_sent_to_collab, @days_at_station8_sent, @holidays, numb_comp_in_main_record, l3_status[0])

                        if sent_to_collab[0].to_s == 'N/A' && station8_sent[0].to_s == 'N/A' && result[22] != '0' and crb_started[0] == ''
                          crb_started = WorkFlow.get_rollUp_l3_crb_started_timestamps_NA(ecr_inbox_date_parsed.to_s, 22,@workflow,@holidays) 
                        end
                        

                        crb_released = WorkFlow.get_rollUp_l3_timestamps(curr_l3_with_partials, 23, crb_started[2], @workflow, @days_at_crb_started, @holidays, numb_comp_in_main_record, l3_status[0])

                      %>

                      <td title="IA Approved"></td>
                      <td title="ECR INBOX"></td>
                      <td title="To Collab/Legal" class="<%= sent_to_collab[1] %>"><%= sent_to_collab[0] %></td>
                      <td title="To Horw" class="<%= station8_sent[1] %>"><%= station8_sent[0] %></td>
                      <td title="To CRB" class="<%= crb_started[1] %>"><%= crb_started[0] %></td>
                      <td title="ECN Release" class="<%= crb_released[1] %>"><%= crb_released[0] %></td>

                      <td title="Number of Comp." ><%= numb_comp_in_main_record %></td>
                      <td title="Component Type"><%= result[26] %></td>
                      <td title="Business Unit"></td>
                      <td title="Number of Lang."><%= result[25] %></td>
                      <td title="Horw"></td>
                      <%  l3onHoldReason = ''
                         if l3_status[0].presence
                            if  l3_status[0].downcase == 'onhold'
                             l3onHoldReason =  WorkFlow.getOnHoldNewReason(l3_status[1][0])
                            end 
                          end %>
                      <td title="Hold Reason"><%=l3onHoldReason%></td>
                    </tr>
                  <%end%>

            <%  end
              end 
            end
        end %>  
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-info"> No Result Found! </a>
  <% end %>
</div>

  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style>

  <%= javascript_include_tag "reports" %>   