<%if  @rework_info_report_data.first.present? %>
  <div class="daily-report-data" id ="reworkinforeportdata">
    <table id = "daily_activity_report" class="table table-bordered">
      <thead>
        <tr>
          <th>Rework Start</th>
          <th>BU</th>
          <th>IA </th>
          <th>ECR</th>
          
          <th>Component Type</th>
          <th>#Comp</th>
          <th>Station</th>
          <th>Rework Level 1</th>
          <th>Rework Level 2</th>
        </tr>
      </thead>
      <%@rework_info_report_data.each do |row|%>
        <tr>
          <td><%= row[1].strftime('%m/%d/%Y') %></td>
          <td><%= row[2] %></td>
          <td><%= row[3] %></td>
          <td><%= row[4] %></td>
          <td><%= row[5] %></td>
          <td><%= row[6] %></td>
          <td><%= row[7] %></td>
          <td><%= row[8] %></td>
          <td><%= row[9] %></td>
        </tr>

      <%end%>

      <tbody>

      </tbody>
    </table>
  </div>
<%else%>
 <div class="alert alert-info"> No Result Found! </a>

<%end%>
