<% if @rework_infos_list.present? %>
  <div class="daily-report-data" id ="reworkinforeportdata">
    <table id = "daily_activity_report" class="table table-bordered">
      <thead>
        <tr>
          <th>Time Frame</th>
          <th>IA Name</th>
          <th>ECR Name</th>
          
          <th>Parent ECR</th>
          <th>#Components in Rework</th>
          <th>Station</th>
          <th>Rework-Reason-I</th>
          <th>Rework-reason-II</th>
        </tr>
      </thead>

      <tbody>
      <% if @rework_infos_list.present? %>
        <% @rework_infos_list.each_with_index do |row, index| %>
          <tr>
            <td><%=@actual_confirmations_list[index].strftime("%m/%d/%y")  %></td>
            <td><%=@l2s[index].name %></td>
            <td><%=@l3s[index].name %></td>

            <td><%=@parent_l3s[index].name  %></td>
            <td><%=@parent_l3s[index].num_component %></td>
            <td><%=row.station %></td>
            <td><%=@parent_reasons[index] %></td>
            <td><%=@child_reasons[index] %></td>


          </tr>
        <%end%>
      <%end%>     
      </tbody>

    </table>
  </div>
<% else %>
  <div class="alert alert-info"> No Result Found! </a>
<% end %>
  <style type="text/css">
    .container{
        background-color: #fff;    
    }
  </style>  

   <%= javascript_include_tag "reports" %>   

