%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to I18n.t('brand.name'), root_path, class: 'navbar-brand'

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right

      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          REPORTS
          %b.caret
        %ul.dropdown-menu.setting_menu
          %li= link_to 'ENTIRE HISTORY ', entire_history_reports_path, :class => 'add_links'
          %li= link_to 'CURRENT STATUS ', current_status_reports_path, :class => 'add_links'
          %li= link_to 'HANDOFF ', handoff_reports_path, :class => 'add_links', :onclick => 'return show_waiting_bar();'
          %li= link_to 'DAILY ACTIVITY ', daily_activity_reports_path, :class => 'add_links'
          %li= link_to 'WIP',  wip_reports_path , :class =>'add_links'
          %li= link_to  'REWORK INFO', rework_info_reports_path, :class => 'add_links'          
      - if current_user.is_admin    
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            ADMIN
            %b.caret
          %ul.dropdown-menu.setting_menu
            %li= link_to '+ADD '+@workflow.L1, new_l1_path,  {:remote => true, 'data-toggle' =>  "modal",class: 'add_links', 'data-target' => '#add_l1_modal'}
            %li= link_to 'User Management' , admin_users_path,  {class: 'add_links'}
            %li= link_to 'Turn on Oops mode' , oops_mode_path,  {class: 'add_links'}
            %li= link_to 'Oops mode reason codes ', oops_mode_reason_code_path, {:remote => true, 'data-toggle' =>  "modal",class: 'add_links', 'data-target' => '#oops_mode_reason_code'}
            %li= link_to 'Change Rework Station', change_rework_station_path, {:remote => true,'data-toggle' =>  "modal", class: 'add_links', 'data-target' => '#change_rework_station'}
            %hr.menu_hr
            %li= link_to 'Data Feed' , data_feed_reports_path(:format => 'csv') , {class: 'add_links'}
            %li= link_to 'Reject Data' , reject_data_reports_path(:format => 'csv') , {class: 'add_links'}
            %hr.menu_hr
            %li= link_to 'RECALCULATE ALL ETA' , recalculate_all_eta_path,  {class: 'add_links', onclick: 'update_all_etas(event);'}
            

      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          = @workflow.name
          %b.caret
        %ul.dropdown-menu.setting_menu
          - @workflows.each do |workflow|
            %li= link_to workflow.name, update_workflow_status_path(workflow.id)

      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
            = current_user.first_name
            %b.caret
          %ul.dropdown-menu
            /- if current_user.is_admin?
            / %li= link_to I18n.t('admin.link'), rails_admin_path, data: {"no-turbolink" => true}
            %li= link_to I18n.t('account.edit.link'), edit_user_registration_path
            %li= link_to I18n.t('auth.logout.link'), destroy_user_session_path, rel: :nofollow
      - unless user_signed_in?
        %li= link_to I18n.t('auth.signup.link'), new_user_registration_path
        %li= link_to I18n.t('auth.login.link'), new_user_session_path
