<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]
      <%= javascript_include_tag 'ie', 'data-turbolinks-track' => true %>
    -->
    <%= javascript_include_tag 'head', 'data-turbolinks-track' => true %>
    <%= headjs_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <%= render 'layouts/airbrake' %>
  </head>
  <body class="controller__<%= controller_name %> action__<%= action_name %>">
    <% if user_signed_in? %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <div class="container">
      <div class="errors__container">
        <%= render 'layouts/messages' %>
      </div>
      <%= yield %>
      <% if user_signed_in? %>
        <footer class="page__footer">
          <% if content_for? :footer %>
            <%= yield :footer %>
          <% else %>
            <%= render 'layouts/footer' %>
          <% end %>
        </footer>
      <% end %>
    </div>
    <%= render 'layouts/analytics' %>
    <%= render 'layouts/javascripts' %>
  </body>
</html>
